##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends LedgerTemplate
#import string

##################################################################################

#attr activeMenuPoint = 'Bank'
#attr activeSubmenuPoint = 'BankLedger'
#attr bank = 1

#attr subMenuPoints = [
  {'tmpl':'BankView',
    'condition':1,
    'title':'Info',
    'link':'BankView?index=#echo $request.field("account",$transaction.session.value("account",""))[2:]#'
  },
  {'tmpl':'BankLedger',
    'condition':1,
    'title':'Konto',
    'link':''
  },
  {'tmpl':'BankTransferSVH',
    'title':'> Saldovortrag',
    'condition':1,
    'link':'BankTransferSVH?id=#echo $request.field("account",$transaction.session.value("account",""))#',
    'role':'auditor'
  },
  {'tmpl':'BankTransferLast',
    'title':'> Lastschrift',
    'condition':1,
    'link':'BankTransferLast?id=#echo $request.field("account",$transaction.session.value("account",""))#',
    'role':'auditor'
  },
  {'tmpl':'PrintTransfers',
    'title':'> Ausdruck',
    'condition':1,
    'link':'PrintBankTransfers?accounts=#echo $request.field("account",$transaction.session.value("account",""))#',
    'role':'editor'
  },
  ]

#attr titles = [
  {"title":'Datum',"width":'10%'},
  {"title":'BKZ / Kto',"width":'10%'},
  {"title":'Empfänger / Bemerkung',"width":'56%'},
  {"title":'Haben',"width":'8%'},
  {"title":'Soll',"width":'8%'},
  {"title":'Saldo',"width":'8%'}
  ]

#attr fields1 = [
  {"name":'Datum',"type":'date'},
  {"name":'BKZ',"type":'string'},
  {"name":'Who',"type":'string'},
  {"name":'Soll',"type":'currency'},
  {"name":'Haben',"type":'currency'},
  {"name":'NA1',"type":''}
  ]

#attr fields2 = [
  {"name":'NA1',"type":'editlink'},
  {"name":'Konto',"type":'string'},
  {"name":'Beschreibung',"type":'string'},
  {"name":'NA3',"type":''},
  {"name":'NA4',"type":''},
  {"name":'Saldo',"type":'currency'}
  ]

#attr accountIndexField = 'BankNr'

#attr accountFields = [
  {'name':'BankNr','title':'Nr','width':'5%','type':''},
  {'name':'Bank','title':'Bank','width':'20%','type':''},
  {'name':'BLZ','title':'BLZ','width':'10%','type':''},
  {'name':'KontoNr','title':'Kto','width':'20%','type':''},
  {'name':'TelefonService','title':'Tel(s)','width':'15%','type':''},
  {'name':'Ansprechpartner','title':'Kontakt','width':'15%','type':''},
  {'name':'TelefonAnsprechpartner','title':'Tel(k)','width':'15%','type':''},
  ]

#attr accountStore = 'AccountsBK'
#attr ledgerStore = 'Transfers'
#attr ledgerTitle = 'Kontoauszug'

#attr linkPattern = 'BankLedger?account=BK'
#attr linkFields = ['BankNr']
#attr searchPage = 'BankLedgerSearch'
#attr editLink = 'BankTransferModify'
#attr deleteLink = 'BankTransferDelete'

##################################################################################
