##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

##
## ExpensesSearch.tmpl
##

#extends SearchTemplate

##################################################################################

#attr activeMenuPoint = 'Expenses'

#attr subMenuPoints = [
  {'tmpl':'ExpensesNew','condition':1,'title':'Neu','link':'ExpensesNew','role':'manager'},
  {'tmpl':'PrintTransfers','condition':1,'title':'Ausdruck','link':'PrintTransfersAK?accounts=AK*','role':'editor'},
  {'tmpl':'PrintSummary','condition':1,'title':'Saldos','link':'PrintExpensesSummary?accounts=AK*','role':'editor'},
  ]

#attr linkFields = ['Nr']
#attr linkPattern = 'ExpensesView?index='

#attr activeSubmenuPoint = 'ExpensesSearch'
#attr searchPage = 'ExpensesSearch'

#attr fieldkeys = ['Nr','Name','Kommentare']
#attr fields = {
  'Nr':{'title':'Nr','width':'10%','type':''},
  'Name':{'title':'Name','width':'45%','type':''},
  'Kommentare':{'title':'Kommentare','width':'55%','type':''},
  }

#attr tableStore = 'AccountsAK'
#attr tableTitle = 'Ausgaben'

#attr alphaSearchFields = ['Name']
#attr numericSearchFields = ['Nr']
#attr sortField = 'Nr'

##################################################################################
