##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends NewTemplate

##################################################################################

#attr role = 'manager'

#attr activeMenuPoint = 'Expenses'
#attr activeSubmenuPoint = 'ExpensesNew'
#attr searchPage = 'ExpensesSearch'

#attr subMenuPoints = [
  {'tmpl':'ExpensesNew','condition':1,'title':'Neu','link':'ExpensesNew','role':'manager'}
  ]

#attr editStore = 'AccountsAK'
#attr editTitle1 = 'neue Ausgabenkategorie'
#attr editTitle2 = 'Daten'
#attr editTemplate = 'ExpensesCreate'

#attr inputForm = [
  {
    'name':"Nr",
    'title':"Nr",
    'type':"text",
    'size':8
  },
  {
    'name':"Name",
    'title':"Name",
    'type':"text",
    'size':64
  },
  {
    'title':"Kommentare",
    'name':"Kommentare",
    'type':"textarea",
    'size':5
  }
  ]

#attr helpText = ""

#attr bodyTagAttribs = {'text':'black',"onload":"document.data.Nr.focus()"}

##################################################################################

#def writeRecord(attrs)
#end def
