##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends SiteCenteredTemplate
#implements writeContent

##################################################################################

#attr inputForm = []

#attr editTemplate = ''
#attr editAction = ''

#def cursor()
    #set $focusField = ""
    #for $x in $inputForm
        #if ($x.type != "hidden") and ($focusField == "")
            #set $focusField = $x.name
        #end if
    #end for
    onload="document.form.${focusField}.focus()"
#end def


##################################################################################

    <form name ="form" method="post" action="$editAction">
        <h4 id="formTitle">
            <span id="labelForm${editTemplate}Title" />
        </h4>
        <div id="formFields">
            #for $x in $inputForm
                #if $x.type == "hidden"
                    #if $x.value
                        <input type="hidden" name="$x.name" value="$x.value" />
                    #else
                        <input type="hidden" name="$x.name" value="$request.field($x.var,'')" />
                    #end if
                #elif $x.type == "hint"
                    <div id="formField${x.name}" class="hintField">
                        #if $x.has_key("link") and $x.link
                            <span id="label$x.name" class="hint"><a href="$x.link"><span id="label${x.name}Link" /></a></span>
                        #else
                            <span id="label$x.name" class="hint" />
                        #end if
                    </div>
                #else
                    <div id="formField${x.name}" class="formField">
                        <div class="formFieldTitle"><span id="labelForm${editTemplate}$x.title" /></div>
                        <div class="formFieldInput"><input type="$x.type" name="$x.name" /></div>
                    </div>
                #end if
            #end for
            <div>
                <button class="formButton" type="submit"><span id="labelButtonOK" /></button>
            </div>
        </div>
    </form>
