##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#import string
#import Libs.misc
#from SqlObjects.Transfer import Transfer
#from SqlObjects.Price import Price

#extends Libs.SiteContent

#implements writeContent
##################################################################################

#attr titles = []

#attr fields1 = []

#attr fields2 = []

#attr accountIndexField = ''
#attr accountFields = []

#attr linkPattern = ''
#attr linkFields = []

#attr searchPage = ''

#attr editLink = ''
#attr deleteLink = ''

#attr rows = 12

#attr ledgerTitle = ''

#attr bank = 0

#attr helpText = 'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro'

#def cursor()
    onload="document.searchForm.search.focus()"
#end def

##################################################################################

#silent $response.flush()

##
## search and clause for database select
##
#set $account = str($request.field('account',$transaction.session.value('account',0)))
#silent $transaction.session.setValue('account',$account)

##
## read objects from database
##
#set $transferObjects = Transfer.searchForAccount($accountYear,$account)
#set $accountObjects = $search($account[2:])
#set $priceObjects = Price.search()
#set $count = $transferObjects.count

##
## get actual index and startsaldo. Further
## calculate the new indexes for paging in the table.
##
#if $request.hasField('index')
    #set $index = int($request.field('index',0))
    #set $startsaldo = $transaction.session.value('saldo'+str($index),0.0)
#else
    #set $index = 0
    #set $startsaldo = 0.0
    #silent $transaction.session.setValue('saldo'+str($index),0.0)
#end if
#set $nextIndex = $index + $rows
#set $endIndex = $index + $rows
#if $nextIndex >= $count
      #set $endIndex = $count
#end if
#set $prevIndex = max(($index / $rows - 1) * $rows,0)
#set $lastIndex = ($count / $rows) * $rows
  
##
## extract descriptions from Price
##
#set $transferCodes = []
#set $transferCodeDescription = {}
#for $x in $priceObjects
    #silent $transferCodes.append($x.allAttrs()['transferCode'])
    #silent $transferCodeDescription[$x.allAttrs()['transferCode']] = $x.allAttrs()['description']
#end for

##
## navigation between the pages
##
<div id="pageNavigation">
    #if $index != 0
        <div id="moveToStart" class="hasMove">
            <a href="$name?index=0&amp;account=$account"><span id="labelMoveToStart" /></a>
        </div>
    #else
        <div id="moveToStart" class="hasNoMove">
            <span id="labelMoveToStart"/>
        </div>
    #end if
    #if $index != $prevIndex
        <div id="movePageUp" class="hasMove">
            <a href="$name?index=$prevIndex&amp;account=$account"><span id="labelMovePageUp" /></a>
        </div>
    #else
        <div id="movePageUp" class="hasNoMove">
            <span id="labelMovePageUp" />
        </div>
    #end if
    #if $nextIndex < $count
        <div id="movePageDown" class="hasMove">
            <a href="$name?index=$nextIndex&amp;account=$account"><span id="labelMovePageDown" /></a>
        </div>
    #else
        <div id="movePageDown" class="hasNoMove">
            <span id="labelMovePageDown" />
        </div>
    #end if
    #if ($lastIndex > 0) and ($nextIndex <= $lastIndex)
        <div id="moveToEnd" class="hasMove">
            <a href="$name?index=$lastIndex&amp;search=$account"><span id="labelMoveToEnd" /></a>
        </div>
    #else
        <div id="moveToEnd" class="hasNoMove">
            <span id="labelMoveToEnd" />
        </div>
    #end if
</div>

##
## display Account Infos
##
<div id="ledgerInfo">
    #set $attrs = $accountObjects[0].allAttrs()
    #for $field in $accountFields
        #if $field.type == 'date'
            <div class="ledgerInfoTitle"><span id="labelLedgerInfo$field.name" /></div>
            #if $attrs[$field.name]
                #try
                    <div class="ledgerInfoValue"><span>$attrs[$field.name].strftime($dateFormat)</span></div>
                #except
                    <div class="ledgerInfoValue"><span class="empty" /></div>
                #end try
            #end if
        #elif $field.type == 'name'
            <div class="ledgerInfoValue"><span>$attrs[$field.name]</span></div>
        #else
            <div class="ledgerInfoTitle"><span id="labelLedgerInfo$field.name" /></div>
            <div class="ledgerInfoValue"><span>$attrs[$field.name]</span></div>
        #end if
    #end for
</div>

<div id="ledgerTable">
    ##
    ## column titles
    ##
    <div class="ledgerHeader">
      #for $title in $titles
          <div id="header$title.title" class="ledgerHeaderItem" style="width:$title.width">
            <span id="labelSearch$title.title" />
          </div>
      #end for
    </div>

    #set $saldo = $startsaldo
    #set $evenEntry = False
    #for $entries in $transferObjects:
      #set $attrs = $entries.allAttrs()
      #set $evenEntry = not $evenEntry
      ##
      ## if needed exchange credit and debit
      ##
      #if $attrs['account1'] != $account
        #set $attrs['account'] = $attrs['account1']
        #set $x = $attrs['credit']
        #set $attrs['credit'] = $attrs['debit']
        #set $attrs['debit'] = $x
      #else
        #set $attrs['account'] = $attrs['account2']
      #end if

      ##
      ## calculate saldo
      ##
      #if $attrs['credit']
        #set $saldo = $saldo + float($attrs['credit'])
      #elif $attrs['debit']
        #set $saldo = $saldo - float($attrs['debit'])
      #end if
      #if $bank
        #set $attrs['saldo'] = -1 * $saldo
      #else
        #set $attrs['saldo'] = $saldo
      #end if
      ##
      ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
      ## Geldbeträge und Datum
      ##
      #if $evenEntry
        #set $evenEntryClass = "evenEntry"
      #else
        #set $evenEntryClass = "oddEntry"
      #end if
      <div class="ledgerEntryLine1 $evenEntryClass">
        #for $field in $fields1
          #if $field.type == ''
            <div class="ledgerItem" style="width:$field.width">
            #set $content = ''
          #elif $field.type == 'editlink'
            <div class="ledgerItem" style="width:$field.width">
            #if $attrs['transferCode'] in $transferCodes
                <img class="infoImage" src="Styles/basi/info.gif" border=0 alt="?" onMouseOver="showtip(this,event,'$transferCodeDescription[$attrs['transferCode']] -> ')" onMouseOut="hidetip()"/>
                #if $checkRole('auditor')
                    <a href="$editLink?id=$account&taid=$attrs['TAID']&amp;index=$index"><span class="editLink"/></a>
                    <a href="$deleteLink?id=$account&taid=$attrs['TAID']&amp;index=$index"><span class="deleteLink" /></a>
                #end if
            #end if
            #set $content = ''
          #elif $attrs[$field.name] == None
            <div class="ledgerItem $field.name" style="width:$field.width">
            #set $content = ''
          #elif $field.type == 'currency'
            <div class="ledgerItem $field.name currency" style="width:$field.width">
            #if $attrs[$field.name] != 0.0 or $field.name == 'saldo'
              #set $content = string.replace('%5.2f' % $attrs[$field.name],'.',',')
            #else
              #set $content = ''
            #end if
          #elif $field.type == 'date'
            #try
                <div class="ledgerItem $field.name" style="width:$field.width">
                #set $content = $attrs[$field.name].strftime($dateFormat)
            #except
                <div class="ledgerItem $field.name error" style="width:$field.width">
                #set $content = ''
            #end try
          #elif $field.type == 'string'
            <div class="ledgerItem $field.name" style="width:$field.width">
            #set $content = $attrs[$field.name]
          #else
            <div class="ledgerItem $field" style="width:$field.width">
            #set $content = ''
          #end if
          #if $field in $linkFields
              <a href='$linkTemplate?index=$content'><span>$content</span></a>
          #elif $content
              <span>$content</span>
          #else
              <span class="empty" />
          #end if
          </div>
        #end for
      </div>
      <div class="ledgerEntryLine2 $evenEntryClass">
        #for $field in $fields2
          #if $field.type == ''
            <div class="ledgerItem $field.name" style="width:$field.width">
            #set $content = ''
          #elif $field.type == 'editlink'
            <div class="ledgerItem $field.name" style="width:$field.width">
            #if $attrs['transferCode'] in $transferCodes
              #set $tt = $transferCodeDescription[$attrs['transferCode']]
              <div class="infoAccountNb"><span class="infoImage" $tooltipString($tt)></span></div>
              #if $checkRole('auditor')
                <a href="$editLink?id=$account&taid=$attrs['TAID']&amp;index=$index"><span class="editLink" /></a>
                <a href="$deleteLink?id=$account&taid=$attrs['TAID']&amp;index=$index"><span class="deleteLink" /></a>
              #end if
            #end if
            #set $content = ''
          #elif $attrs[$field.name] == None
            <div class="ledgerItem $field.name" style="width:$field.width">
            #set $content = ''
          #elif $field.type == 'currency'
            #if $attrs[$field.name] < 0.0
              <div class="ledgerItem $field.name currency negativeSaldo" style="width:$field.width">
            #else
              <div class="ledgerItem $field.name currency positiveSaldo" style="width:$field.width">
            #end if
            #if $attrs[$field.name] != 0.0 or $field.name == 'saldo'
              #set $content = string.replace('%5.2f' % $attrs[$field.name],'.',',')
            #else
              #set $content = ''
            #end if
          #elif $field.type == 'date'
            #try
                <div class="ledgerItem $field.name date" style="width:$field.width">
                #set $content = $attrs[$field.name].strftime($dateFormat)
            #except
                <div class="ledgerItem $field.name error" style="width:$field.width">
                #set $content = ''
            #end try
          #elif $field.type == 'string'
            <div class="ledgerItem $field.name" style="width:$field.width">
            #set $content = $attrs[$field.name]
          #else
            <div class="ledgerItem $field.name" style="width:$field.width">
            #set $content = ""
          #end if
          #if $field in $linkFields
            <a href='$linkTemplate?index=$content'><span>$content</span></a>
          #elif $content
            <span>$content</span>
          #else
              <span class="empty" />
          #end if
	  </div>
        #end for
      </div>
    #end for
    #silent $transaction.session.setValue('saldo'+ str($nextIndex), $saldo)
</div>
