##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#import string
#import misc
#from Transfer import Transfer
#from Price import Price

#extends SiteTemplate

#implements writeContent
##################################################################################

#attr titles = []

#attr fields1 = []

#attr fields2 = []

#attr accountIndexField = ''
#attr accountFields = []

#attr linkPattern = ''
#attr linkFields = []

#attr searchPage = ''

#attr editLink = ''
#attr deleteLink = ''

#attr rows = 12

#attr ledgerTitle = ''

#attr bank = 0

#attr helpText = 'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro'

#attr bodyTagAttribs = {'text':'black',"onload":"document.search.search.focus()"}

##################################################################################

#silent $response.flush()

##
## search and clause for database select
##
#set $account = str($request.field('account',$transaction.session.value('account',0)))
#silent $transaction.session.setValue('account',$account)

##
## read objects from database
##
#set $transferObjects = Transfer.searchForAccount($accountYear,$account)
#set $accountObjects = $search($account[2:])
#set $priceObjects = Price.search()
#set $count = $transferObjects.count

##
## get actual index and startsaldo. Further
## calculate the new indexes for paging in the table.
##
#if $request.hasField('index')
    #set $index = int($request.field('index',0))
    #set $startsaldo = $transaction.session.value('saldo'+str($index),0.0)
#else
    #set $index = 0
    #set $startsaldo = 0.0
    #silent $transaction.session.setValue('saldo'+str($index),0.0)
#end if
#set $nextIndex = $index + $rows
#set $endIndex = $index + $rows
#if $nextIndex >= $count
      #set $endIndex = $count
#end if
#set $prevIndex = max(($index / $rows - 1) * $rows,0)
#set $lastIndex = ($count / $rows) * $rows
  
##
## extract descriptions from Price
##
#set $transferCodes = []
#set $transferCodeDescription = {}
#for $x in $priceObjects
    #silent $transferCodes.append($x.allAttrs()['transferCode'])
    #silent $transferCodeDescription[$x.allAttrs()['transferCode']] = $x.allAttrs()['description']
#end for

##
## Tabellen-Überschrift
##
<table width="100%">
    <tr bgcolor="yellow" valign=top>
      <th>
        #if $index != 0
          <a href="$name?index=0&account=$account"><img src="images/start.png" border=0></a>
        #end if
        &nbsp;
        #if $index != $prevIndex
          <a href="$name?index=$prevIndex&account=$account"><img src="images/left.png" border=0></a>
        #end if
        &nbsp;
        $ledgerTitle
        &nbsp;
        #if $nextIndex < $count
          <a href="$name?index=$nextIndex&account=$account"><img src="images/right.png" border=0></a>
        #end if
        #if $lastIndex > 0 and $nextIndex <= $lastIndex
          <a href="$name?index=$lastIndex&search=$account"><img src="images/end.png" border=0></a>
        #end if
      </th>
    </tr>
</table>

##
## display Account Infos
##
<table width="100%" cellpadding=0>
    <tr bgcolor="aqua" valign=middle>
    #set $attrs = $accountObjects[0].allAttrs()
      <td>
        #for $field in $accountFields
          #if $field.type == 'date'
            &nbsp;&nbsp;&nbsp;
            $field.title:
            #if $attrs[$field.name]
                #try
                    <b>$attrs[$field.name].strftime($dateFormat)</b>
                #except
                    <b>** Error **</b>
                #end try
            #end if
          #elif $field.type == 'name'
            <b>$attrs[$field.name]</b>
          #else
            &nbsp;&nbsp;&nbsp;
            $field.title:
            <b>$attrs[$field.name]</b>
          #end if
        #end for
      </td>
    </tr>
</table>

<table width="100%">
    ##
    ## column titles
    ##
    <tr bgcolor="yellow" valign=top>
      #for $title in $titles
      <td width="$title.width">
        $title.title
      </td>
      #end for
    </tr>

    #set $saldo = $startsaldo
    #for $entries in $transferObjects:
      #set $attrs = $entries.allAttrs()

      ##
      ## if needed exchange credit and debit
      ##
      #if $attrs['account1'] != $account
        #set $attrs['account'] = $attrs['account1']
        #set $x = $attrs['credit']
        #set $attrs['credit'] = $attrs['debit']
        #set $attrs['debit'] = $x
      #else
        #set $attrs['account'] = $attrs['account2']
      #end if

      ##
      ## calculate saldo
      ##
      #if $attrs['credit']
        #set $saldo = $saldo + float($attrs['credit'])
      #elif $attrs['debit']
        #set $saldo = $saldo - float($attrs['debit'])
      #end if
      #if $bank
        #set $attrs['saldo'] = -1 * $saldo
      #else
        #set $attrs['saldo'] = $saldo
      #end if
      ##
      ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
      ## Geldbeträge und Datum
      ##
      <tr bgcolor="aqua">
        #for $field in $fields1
          #if $field.type == ''
            <td>
            #set $content = "&nbsp;"
          #elif $field.type == 'editlink'
            <td>
            #if $attrs['transferCode'] in $transferCodes
              <img src="images/info.gif" border=0 alt="$transferCodeDescription[$attrs['transferCode']] -> " onMouseOver="zeigetip(this,event,'$transferCodeDescription[$attrs['transferCode']] -> ')" onMouseOut="verbergetip()">
              &nbsp;<a href="$editLink?id=$account&taid=$attrs['TAID']&index=$index"><img src="images/edit.png" border=0></a>
              &nbsp;<a href="$deleteLink?id=$account&taid=$attrs['TAID']&index=$index"><img src="images/delete.png" border=0></a>
            #end if
            #set $content = ''
          #elif $attrs[$field.name] == None
            <td>
            #set $content = '&nbsp;'
          #elif $field.type == 'currency'
            <td align="right"><b>
            #if $attrs[$field.name] != 0.0 or $field.name == 'saldo'
              #set $content = string.replace('%5.2f' % $attrs[$field.name],'.',',')
            #else
              #set $content = '&nbsp;'
            #end if
          #elif $field.type == 'date'
            <td><b>
            #try
                #set $content = $attrs[$field.name].strftime($dateFormat)
            #except
                #set $content = '** Error **'
            #end try
          #elif $field.type == 'string'
            <td><b>
            #set $content = $attrs[$field.name]
          #else
            <td>
            #set $content = "&nbsp;"
          #end if
        #if $field in $linkFields
          <a href='$linkTemplate?index=$content'>$content</a>
        #else
          $content
        #end if
        #if (($field.type == 'currency') and ($attrs[$field.name] < 0.0)) or ($field.type in ['date','string'])
          </b>
	#end if
        </td>
      #end for
      <tr bgcolor="fuchsia">
        #for $field in $fields2
          #if $field.type == ''
            <td>
            #set $content = '&nbsp;'
          #elif $field.type == 'editlink'
            <td>
            #if $attrs['transferCode'] in $transferCodes
              <img src="images/info.gif" border=0 alt="$transferCodeDescription[$attrs['transferCode']] -> " onMouseOver="zeigetip(this,event,'$transferCodeDescription[$attrs['transferCode']] -> ')" onMouseOut="verbergetip()">
              #if $checkRole('auditor')
                &nbsp;<A href="$editLink?id=$account&taid=$attrs['TAID']&index=$index"><img src="images/edit.png" border=0></A>
                &nbsp;<A HREF="$deleteLink?id=$account&taid=$attrs['TAID']&index=$index"><img src="images/delete.png" border=0></A>
              #end if
            #end if
            #set $content = ''
          #elif $attrs[$field.name] == None
            <td>
            #set $content = '&nbsp;'
          #elif $field.type == 'currency'
            #if $attrs[$field.name] < 0.0
              <td align="right"><b><font color="maroon">
            #else
              <td align="right">
            #end if
            #if $attrs[$field.name] != 0.0 or $field.name == 'saldo'
              #set $content = string.replace('%5.2f' % $attrs[$field.name],'.',',')
            #else
              #set $content = '&nbsp;'
            #end if
          #elif $field.type == 'date'
            <td>
            #try
                #set $content = $attrs[$field.name].strftime($dateFormat)
            #except
                #set $content = '** Error **'
            #end try
          #elif $field.type == 'string'
            <td>
            #set $content = $attrs[$field.name]
          #else
            <td>
            #set $content = "&nbsp;"
          #end if
          #if $field in $linkFields
            <a href='$linkTemplate?index=$content'>$content</a>
          #else
            $content
          #end if
          #if ($field.type == 'currency') and ($attrs[$field.name] < 0.0)
            </font></b>
	  #end if
	  </td>
        #end for
      </tr>
    #end for
    #silent $transaction.session.setValue('saldo'+ str($nextIndex), $saldo)
</table>
