##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends FormTemplate

##################################################################################

#attr inputForm = [
  {
    'name':"username",
    'title':"Username",
    'type':"TEXT"
  },
  {
    'name':"password",
    'title':"Password",
    'type':"password"
  },
  {
    'name':"HintLogin",
    'link':"NewPassword",
    'type':"hint"
  },
  {
    'name':"action",
    'value':"login",
    'type':"hidden"
  }
  ]

#attr editTemplate = 'Login'
#attr editAction = 'Main'
#attr helpText = '<span id="labelHelpLogin" />'

##################################################################################

#attr role = ''
