#extends MemberTransfer
##################################################################################

#attr activeMenuPoint = 'Member'
#attr activeSubmenuPoint = 'MemberTransferEin'

#attr transferBKZ = 'Ein'
#attr transferType = 'haben'
#attr transferNotice = 'Bemerkung'

#attr helpText = 'Als Bemerkung sollte angegeben werden, wofür eingezahlt wurde.<br>' + \
  'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
