#extends NewTemplate
##################################################################################

#attr activeMenuPoint = 'Member'
#attr activeSubmenuPoint = 'MemberToSingle'
#attr searchPage = 'MemberSearch'

#attr subMenuPoints = [
  {'tmpl':'MemberView','condition':1,'title':'Daten','link':'MemberView?index=$request.field("MitgliedsNr","")'},
  {'tmpl':'MemberToSingle','condition':1,'title':'Einzelmitgliedschaft','link':''}
  ]

#attr indexField = 'MitgliedsNr'
#attr indexPrefix = 'MI'

#attr editStore = 'AccountsMI'
#attr editTitle1 = 'Umwandlung in Einzelmitgliedschaft'
#attr editTitle2 = 'Mitgliedsdaten'
#attr editTemplate = 'MemberMove'

#attr inputForm = [
  {
    'name':"Vorname",
    'title':"Vorname",
    'type':"fixed"
  },
  {
    'title':"Nachname",
    'name':"Nachname",
    'type':"fixed"
  },
  {
    'title':"Titel",
    'name':"Titel",
    'type':"fixed"
  },
  {
    'title':"Geburtsdatum",
    'name':"Geburtsdatum",
    'type':"fixed"
  },
  {
    'title':"Geschlecht",
    'name':"Geschlecht",
    'type':"fixed"
  },
  {
    'title':"Adresszusatz",
    'name':"Adresszusatz",
    'type':"fixed"
  },
  {
    'title':"Strasse",
    'name':"Strasse",
    'type':"fixed"
  },
  {
    'title':"Ort",
    'name':"Ort",
    'type':"fixed"
  },
  {
    'title':"Land",
    'name':"Countrycode",
    'type':"fixed"
  },
  {
    'title':"PLZ",
    'name':"PLZ",
    'type':"fixed"
  },
  {
    'title':"Telefon (Privat)",
    'name':"TelefonPrivat",
    'type':"fixed"
  },
  {
    'title':"Telefon (Dienst)",
    'name':"TelefonDienst",
    'type':"fixed"
  },
  {
    'title':"Telefon (Mobil)",
    'name':"Mobiltelefon",
    'type':"fixed"
  },
  {
    'title':"FAX",
    'name':"FAX",
    'type':"fixed"
  },
  {
    'title':"E-Mail",
    'name':"EMail",
    'type':"fixed"
  },
  {
    'title':"Eintritt am",
    'name':"Eintrittsdatum",
    'type':"fixed",
  },
  {
    'name':"Austrittsgrund",
    'type':"fixed",
    'value':'Einzelmitgliedschaft'
  },
  {
    'title':"Beitragsart",
    'name':"Beitragsart1",
    'type':"select",
    'options':[
      {"value":"10Ju","title":"Jugendliche"},
      {"value":"10Er","title":"Erwachsene"},
      {"value":"10Fa","title":"Familie mit 1 Erwachsenen"},
      {"value":"10Fi","title":"Familie mit 2 Erwachsenen"},
      {"value":"10pa","title":"Passives Mitglied"},
      {"value":"10F","title":"Fördermitglied"},
      {"value":"10Em","title":"Ehrenmitglied"},
      {"value":"10Jg","title":"Jugendliche (Trainer)"},
      {"value":"10Ew","title":"Erwachsene (Trainer)"},
      {"value":"10Fm","title":"Familie mit 1 Erwachsenen (Trainer)"},
      {"value":"10Fl","title":"Familie mit 2 Erwachsenen (Trainer)"},
      {"value":"10ps","title":"Passives Mitglied (Trainer)"},
      {"value":"10AT","title":"Aushilfstrainer"},
      ]
  },
  {
    'title':"Umwandlung ab",
    'name':"BeitragsartAb1",
    'type':"date",
  },
  {
    'title':"Zahlungsart",
    'name':"Zahlungsart",
    'type':"select",
    'options':[
      {"value":"Lastschrift","title":"Lastschrift"},
      {"value":"Rechnung","title":"Rechnung"}
      ]
  },
  {
    'title':"Lastschrift ab",
    'name':"LastschriftAb",
    'type':"date",
  },
  {
    'title':"Rechnung ab",
    'name':"RechnungAb",
    'type':"date",
  },
  {
    'title':"Bankverbindungen",
    'type':"table",
    'number':2,
    'fieldlist':['KontoNr','BLZ','Bank','Kontoinhaber'],
    'fieldType':{
      'KontoNr':'text',
      'BLZ':'text',
      'Bank':'text',
      'Kontoinhaber':'text'
    },
    'fieldTitle':{
      'KontoNr':'KontoNr',
      'BLZ':'BLZ',
      'Bank':'Bank',
      'Kontoinhaber':'Kontoinhaber'
    }
  },
  {
    'title':"Kommentare",
    'name':"Kommentare",
    'type':"textarea",
    'size':5
  }
  ]
#attr inheritAttributes = ["Vorname","Nachname","Titel","Geburtsdatum","Geschlecht",
  "Adresszusatz","Strasse","Ort","Countrycode","PLZ",
  "TelefonPrivat","TelefonDienst","Mobiltelefon","FAX","EMail",
  "Eintrittsdatum"]

#attr helpText = ""

#attr bodyTagAttribs = {'text':'black',"onload":"document.data.Vorname.focus()"}

##################################################################################

#def writeRecord(attrs)
  $writeLine('Mitgliedsnr', $attrs['MitgliedsNr'])
  $writeLine('Eintritt am', $attrs['Eintrittsdatum'].strftime('%d.%m.%Y'))
  $writeLine('Name',$attrs['Nachname']+", "+$attrs['Titel']+" "+$attrs['Vorname'])
  $writeLine('Adresse',$attrs['PLZ']+" "+$attrs['Ort']+", "+$attrs['Strasse'])
  $writeLine('Telefon (privat, dienstlich, mobil)',$attrs['TelefonPrivat']+"<br>"+$attrs['TelefonDienst']+"<br>"+$attrs['Mobiltelefon'])
  $writeLine('FAX',$attrs['FAX'])
  $writeLine('E-Mail',$attrs['EMail'])
  $writeLine('Geburtsdatum & Geschlecht',"%s %s" % ($attrs['Geburtsdatum'].strftime('%d.%m.%Y'),$attrs['Geschlecht']))
#end def
