#extends MemberTransfer
##################################################################################

#attr activeMenuPoint = 'Member'
#attr activeSubmenuPoint = 'MemberTransferRaten'

#attr transferBKZ = 'Raten'
#attr transferType = 'haben'
#attr transferNotice = 'Bemerkung'

#attr helpText = 'Als Bemerkung sollte angegeben werden, in welchen Zeitraum und in welcher Höhe die Raten abgezahlt werden.<br>' + \
  'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
