#extends MemberTransfer
##################################################################################

#attr activeMenuPoint = 'Member'
#attr activeSubmenuPoint = 'MemberTransfer11Sc'

#attr transferBKZ = '11Sc'
#attr transferType = 'soll'
#attr transferOptions = [
  {'description':'1.Q $accountYear','value':'Schwimmkurs 1. Quartal $accountYear'},
  {'description':'2.Q $accountYear','value':'Schwimmkurs 2. Quartal $accountYear'},
  {'description':'3.Q $accountYear','value':'Schwimmkurs 3. Quartal $accountYear'},
  {'description':'4.Q $accountYear','value':'Schwimmkurs 4. Quartal $accountYear'},
  ]
#attr transferNotice = 'zusätzliche Bemerkung'

#attr helpText = 'Als Bemerkung sollte der Name des Kindes angegeben werden.<br>' + \
  'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
