#extends ViewTemplate
##################################################################################

#attr activeMenuPoint = 'Member'
#attr activeSubmenuPoint = 'MemberView'
#attr searchPage = 'MemberSearch'

#attr subMenuPoints = [
  {'tmpl':'MemberView','condition':1,'title':'Info','link':''},
  {'tmpl':'MemberLedger','condition':1,'title':'Konto','link':'MemberLedger?account=MI#echo $request.field("index","")[:-1] #0'},
  {'tmpl':'MemberNew','condition':1,'title':'Neues Mitglied','link':'MemberNew','role':'editor'},
  {'tmpl':'MemberNewFamily','condition':1,'title':'Neues Fam.mitgl.','link':'MemberNewFamily?MitgliedsNr=#echo $request.field("index","")[:-1] #0','role':'editor'},
  {'tmpl':'MemberModify','condition':'self.request().field("index","")[-1:] == "0"','title':'Ändern','link':'MemberModify?index=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberOfFamilyModify','condition':'self.request().field("index","")[-1:] != "0"','title':'Ändern','link':'MemberOfFamilyModify?index=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberAustritt','condition':1,'title':'Austritt','link':'MemberAustritt?index=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberReactivate','condition':'self.request().field("index","")[-1:] == "0"','title':'Reaktivierung','link':'MemberReactivate?index=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberReactivate2','condition':'self.request().field("index","")[-1:] != "0"','title':'Reaktivierung','link':'MemberReactivate2?index=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberFee','condition':'self.request().field("index","")[-1:] == "0"','title':'Beitrag ändern','link':'MemberFee?index=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberToFamily','condition':'self.request().field("index","")[-1:] == "0"','title':'Zur Familie','link':'MemberToFamily?MitgliedsNr=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberToSingle','condition':'self.request().field("index","")[-1:] != "0"','title':'Einzelmitgliedschaft','link':'MemberToSingle?MitgliedsNr=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberToPersonal','condition':1,'title':'Neuer Mitarbeiter','link':'MemberToPersonal?MitgliedsNr=$request.field("index","")','role':'editor'},
  {'tmpl':'MemberPrintEintritt','condition':1,'title':'Eintrittsschreiben','link':'MemberPrintEintritt?MitgliedsNr=$request.field("index","")','role':'editor'},
  ]

#attr indexField = 'MitgliedsNr'

#attr viewStore = 'AccountsMI'
#attr viewTitle = 'Mitglied'

##################################################################################

#def writeRecord(attrs)
  #set $neighbours = ''
  #for $n in $attrs['_neighbours']:
    #if $n[0] != attrs[$indexField]
      #set $neighbours = $neighbours + " <a href='MemberView?index=%s'>%s</a>" % ($n[0],$n[1])
    #end if
  #end for
  #if $neighbours
    #set $neighbours = "(%s)" % $neighbours[1:]
  #end if
  #if $attrs['NeueMitgliedsNr']
    $writeLine('Mitgliedsnr', "%s %s" % ($attrs['MitgliedsNr'], $neighbours),$attrs['NeueMitgliedsNr'],
		  " (Neu: <a href='MemberView?index=%s'>%s</a>)" %
			($attrs['NeueMitgliedsNr'][2:],$attrs['NeueMitgliedsNr'][2:]))
  #else
    $writeLine('Mitgliedsnr', "%s %s" % ($attrs['MitgliedsNr'], $neighbours))
  #end if
  #if $attrs['Austrittsdatum']
    $writeLine('Mitgliedschaft',"vom %s" % 
			$attrs['Eintrittsdatum'].strftime('%d.%m.%Y'),$attrs['Austrittsdatum']," bis %s (%s)" %
			($attrs['Austrittsdatum'].strftime('%d.%m.%Y'),$attrs['Austrittsgrund']))
  #else
    $writeLine('Mitgliedschaft',"seit dem %s" % $attrs['Eintrittsdatum'].strftime('%d.%m.%Y'))
  #end if
  $writeLine('Name',$attrs['Nachname']+", "+$attrs['Titel']+" "+$attrs['Vorname'])
  $writeLine('Adresse',$attrs['PLZ']+" "+$attrs['Ort']+", "+$attrs['Strasse'])
  $writeLine('Telefon (privat, dienstlich, mobil)',$attrs['TelefonPrivat']+"<br>"+$attrs['TelefonDienst']+"<br>"+$attrs['Mobiltelefon'])
  $writeLine('FAX',$attrs['FAX'])
  $writeLine('E-Mail',$attrs['EMail'])
  $writeLine('Geburtsdatum & Geschlecht',"%s %s" % ($attrs['Geburtsdatum'].strftime('%d.%m.%Y'),$attrs['Geschlecht']))
  #if $attrs['MitgliedsNr'][-1:] == '0'
    $writeLine('Bankverbindungen','')
    $writeTable($attrs,range(1,3),
      ['Kontonummer','BLZ','Bank','Kontoinhaber'],
      [{'name':'KontoNr','type':'string'},
      {'name':'BLZ','type':'string'},
      {'name':'Bank','type':'string'},
      {'name':'Kontoinhaber','type':'string'}])
    #if ($attrs['Zahlungsart'] == "Lastschrift") and $attrs['LastschriftAb']
      $writeLine('Beiträge',$attrs['Zahlungsart'],$attrs['LastschriftAb'],' ab %s' % $attrs['LastschriftAb'].strftime('%d.%m.%Y'))
    #elif ($attrs['Zahlungsart'] == "Rechnung") and $attrs['RechnungAb']
      $writeLine('Beiträge',$attrs['Zahlungsart'],$attrs['RechnungAb'],' ab %s' % $attrs['RechnungAb'].strftime('%d.%m.%Y'))
    #else
      $writeLine('Beiträge',$attrs['Zahlungsart'])
    #end if
    #if $attrs['Mahnstufe']
      $writeLine('Mahnung',"<b>%s vom %s</b>" % $attrs['Mahnstufe'],$attrs['LetzteMahnungAm'].strftime('%d.%m.%Y')))
    #end if
    $writeTable($attrs,range(1,6),
      ['Art','ab','BFA','nächste Erhebung'],
      [{'name':'Beitragsart','type':'string'},
      {'name':'BeitragsartAb','type':'date'},
      {'name':'BeitragsartFreiAb','type':'date'},
      {'name':'BeitragsartErhebungAb','type':'date'}])
  #end if
  $writeLine('Kommentare',$attrs['Kommentare'])
  $writeLine('Letzte Änderung','%s von %s' % ($attrs['changedAt'].strftime('%d.%m.%Y'),$attrs['changedBy']))
#end def
