#extends MemberTransfer
##################################################################################

#attr activeMenuPoint = 'Member'
#attr activeSubmenuPoint = 'MemberTransferGutSto'

#attr transferBKZ = 'GutSto'
#attr transferType = 'haben'
#attr transferNotice = 'Bemerkung'

#attr helpText = 'Als Bemerkung sollte angegeben werden, warum die Stornogebühren gutgeschrieben werden.<br>' + \
  'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
