#extends SearchTemplate
##################################################################################

#attr activeMenuPoint = 'Member'

#attr subMenuPoints = [
  {'tmpl':'MemberNew','condition':1,'title':'Neues Mitglied','link':'MemberNew','role':'editor'},
  {'tmpl':'PrintTransfers','condition':1,'title':'Ausdruck','link':'PrintMemberTransfers?accounts=MI*','role':'editor'},
  {'tmpl':'PrintSaldos','condition':1,'title':'Saldos','link':'PrintMemberSaldos?accounts=MI*','role':'editor'},
  ]

#attr linkFields = ['MitgliedsNr','NeueMitgliedsNr']
#attr linkPattern = 'MemberView?index='

#attr activeSubmenuPoint = 'MemberSearch'
#attr searchPage = 'MemberSearch'

#attr fieldkeys = ['MitgliedsNr','NeueMitgliedsNr','Vorname','Nachname','Geburtsdatum','TelefonPrivat','Eintrittsdatum','Austrittsdatum']
#attr fields = {
  'MitgliedsNr':{'title':'MNr','width':'5%','type':''},
  'NeueMitgliedsNr':{'title':'Neu','width':'5%','type':'','format':'"%s"[2:]'},
  'Vorname':{'title':'Vorname','width':'20%','type':''},
  'Nachname':{'title':'Nachname','width':'20%','type':''},
  'Geburtsdatum':{'title':'Geburtstag','width':'10%','type':'date'},
  'TelefonPrivat':{'title':'Telefon','width':'15%','type':''},
  'Eintrittsdatum':{'title':'Ein','width':'10%','type':'date'},
  'Austrittsdatum':{'title':'Aus','width':'10%','type':'date'}
  }

#attr tableStore = 'AccountsMI'
#attr tableTitle = 'Mitglieder'

#attr alphaSearchFields = ['Nachname','Kontoinhaber1','Kontoinhaber2']
#attr numericSearchFields = ['MitgliedsNr']

##################################################################################
