##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends EditTemplate

#implements writeContent
##################################################################################

#attr role = 'editor'

#attr indexField = ''
#attr indexPrefix = ''

#attr editStore = ''
#attr editTitle = ''
#attr editTemplate = ''

#attr inputForm = ''
#attr inheritAttributes = []
#attr inheritAttributesFrom0 = []

#attr helpText = ''

#attr bodyTagAttribs = {'text':'black'}

##################################################################################

#attr newIndex = 1

#def writeRecord(attrs)

#end def

#silent $response.flush()
#if $editStore != ''

  #set $attrs = {}

  #set $index = $request.field($indexField,'')
  #if $index
    ##
    ## init attributes
    ##
    #set $storeObjects = $store.fetchObjectsOfClass($editStore,'WHERE %s = "%s"' % ($indexField,$index))
    #set $iAttrs = $storeObjects[0].allAttrs(0)
    #for $x in $inheritAttributes
      #set $attrs[$x] = $iAttrs[$x]
    #end for
    #set $storeObjects = $store.fetchObjectsOfClass($editStore,'WHERE %s = "%s0"' % ($indexField,$index[:-1]))
    #set $iAttrs = $storeObjects[0].allAttrs(0)
    #for $x in $inheritAttributesFrom0
      #set $attrs[$x] = $iAttrs[$x]
    #end for
    #if $newIndex
      ##
      # calculate new index for converted family member so single member
      ##
      #if $index[-1:] != "0"
        #set $storeObjects = $store.fetchObjectsOfClass('IDs','WHERE %s = "%s"' % ('Tablename',$editStore))
        #set $IDattrs = $storeObjects[0].allAttrs(0)
        #set $attrs['ID'] = $indexPrefix + str($IDattrs.LastID + 10)
        #set $attrs[$indexField] = str($IDattrs.LastID + 10)
      #else
        #set $storeObjects = $store.fetchObjectsOfClass($editStore,'WHERE %s LIKE "%s"' % ($indexField,$index[:-1] + '_'))
        #set $familyIndex = len($storeObjects)
        #set $attrs['ID'] = $indexPrefix + $index[:-1] + str($familyIndex)
        #set $attrs[$indexField] = $index[:-1] + str($familyIndex)
      #end if
    #else
      #set $attrs['ID'] = $indexPrefix + $index
      #set $attrs[$indexField] = $index
    #end if
  #else
    ##
    ## init attributes
    ##
    #set $attrs['Countrycode'] = 'de'
    #if $indexField
      ##
      ## calculate new index
      ##
      #set $storeObjects = $store.fetchObjectsOfClass('IDs','WHERE %s = "%s"' % ('Tablename',$editStore))
      #set $IDattrs = $storeObjects[0].allAttrs(0)
      #set $attrs['ID'] = $indexPrefix + str($IDattrs.LastID + 10)
      #set $attrs[$indexField] = str($IDattrs.LastID + 10)
    #end if
  #end if

  ##
  ## clear
  ##
    <table width="100%">
      ##
      ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
      ## Geldbeträge und Datum
      ##
      $writeRecord($attrs)
    </table>

  </TD></TR>
  <TR><TD align="$contentBox.align">
    <table border="0" width="600" cellpadding="0" cellspacing="0">
      <tr><td>
        <form name ="data" method="post" action="$editTemplate">
          #if $indexField
            <input type="hidden" name="old$indexField" value="$index">
            <input type="hidden" name="$indexField" value="$attrs[$indexField]">
            <input type="hidden" name="account" value="$attrs.ID">
            <input type="hidden" name="ID" value="$attrs.ID">
          #end if
          <table border="0" width="100%" cellpadding="3" cellspacing="0" bgcolor="aqua">
            <tr>
              <td width="200" bgcolor="yellow">$editTitle2</td>
              <td width="400" bgcolor="yellow">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            $writeInputForm($attrs,$inputForm)
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="OK"></td>
            </tr>
            <tr>
              <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
          </table>
        </form>
      </td></tr>
      <tr><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
      <tr><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
    </table>

#end if
