#extends PersonalTransfer
##################################################################################

#attr activeMenuPoint = 'Personal'
#attr activeSubmenuPoint = 'PersonalTransferAb'

#attr transferBKZ = '20Ab'
#attr transferType = 'haben'
#attr transferNotice = 'Bemerkung'
#attr transferNoticeDefault = 'Abrechnung '

#attr helpText = 'Als Bemerkung sollte angegeben werden, für welchen Monat abgrechnet wurde, ' + \
  'z.B. "Abrechnung 10/2002".<br>' + \
  'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
