#extends PersonalTransferView
##################################################################################

#attr role = 'auditor'

#attr activeMenuPoint = 'Personal'
#attr activeSubmenuPoint = 'PersonalTransferDelete'

#attr transferIDDescription = 'MitarbeiterNr'
#attr transferNotice = 'Bemerkung'
#attr transferTitle = 'Löschen'
#attr transferAction = 'TransferDelete'

#attr helpText = 'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
