#extends PersonalTransfer
##################################################################################

#attr activeMenuPoint = 'Personal'
#attr activeSubmenuPoint = 'PersonalTransferStorno'

#attr transferBKZ = '20Storno'
#attr transferType = 'haben'
#attr transferNotice = 'Bemerkung'

#attr helpText = 'Als Bemerkung sollte angegeben werden, welche Buchung warum nicht ' + \
  'überwiesen werden konnte.<br>' + \
  'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
