#from Tables import Tables

#extends Tables
##################################################################################

#attr activeSubmenuPoint = 'Prices'
#attr searchPage = 'Prices'

#attr fieldkeys = ['BKZ','Beschreibung','Konto','Soll','Haben','Ab','AbSoll','AbHaben']
#attr fields = {
  'BKZ':{'title':'BKZ','width':'5%','type':''},
  'Beschreibung':{'title':'Beschreibung','width':'45%','type':''},
  'Konto':{'title':'Konto','width':'8%','type':''},
  'Soll':{'title':'Soll','width':'8%','type':'currency'},
  'Haben':{'title':'Haben','width':'8%','type':'currency'},
  'Ab':{'title':'Neu ab ->','width':'8%','type':'date'},
  'AbSoll':{'title':'Soll','width':'8%','type':'currency'},
  'AbHaben':{'title':'Haben','width':'8%','type':'currency'}
  }

#attr tableStore = 'Prices'
#attr tableTitle = 'Mitgliedsbeiträge und Gebühren'

#attr alphaSearchFields = ['Beschreibung']
#attr numericSearchFields = ['BKZ']

#attr helpText = 'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro'

##################################################################################

$tabellenStore
