#extends NewTemplate

##################################################################################

#attr role = 'manager'

#attr activeMenuPoint = 'Receipts'
#attr activeSubmenuPoint = 'ReceiptsNew'
#attr searchPage = 'ReceiptsSearch'

#attr subMenuPoints = [
  {'tmpl':'ReceiptsNew','condition':1,'title':'Neu','link':'ReceiptsNew','role':'manager'}
  ]

#attr editStore = 'AccountsEK'
#attr editTitle1 = 'neue Einnahmenkategorie'
#attr editTitle2 = 'Daten'
#attr editTemplate = 'ReceiptsCreate'

#attr inputForm = [
  {
    'name':"Nr",
    'title':"Nr",
    'type':"text",
    'size':8
  },
  {
    'name':"Name",
    'title':"Name",
    'type':"text",
    'size':64
  },
  {
    'title':"Kommentare",
    'name':"Kommentare",
    'type':"textarea",
    'size':5
  }
  ]

#attr helpText = ""

#attr bodyTagAttribs = {'text':'black',"onload":"document.data.Nr.focus()"}

##################################################################################

#def writeRecord(attrs)
#end def
