#extends ReceiptsTransfer
##################################################################################

#attr role = 'auditor'

#attr activeMenuPoint = 'Receipts'
#attr activeSubmenuPoint = 'ReceiptsTransferModify'

#attr transferIDDescription = ''
#attr transferType = 'edit'
#attr transferNotice = 'Bemerkung'
#attr transferNameRequired = 1
#attr transferAction = 'TransferChange'

#attr helpText = 'Währung bis 31.12.2001 in DM und ab dem 01.01.2002 in Euro.'

##################################################################################
