##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#import string
#import Libs.misc

#extends SiteContent

#implements writeContent
##################################################################################

#attr bodyTagAttribs = {'text':'black',"onload":"document.search.search.focus()"}

#attr fieldkeys = []
#attr fields = {}

#attr linkFields = []
#attr linkPattern = ''

#attr rows = 25

#attr alphaSearchFields = []
#attr numericSearchFields = []
#attr searchPage = ''
#attr sortField = ''

#attr tableTitle = ''

#attr helpText = 'Zum Suchen können Muster angegeben werden. So kann * einen ' + \
  'beliebigen Text ersetzen, während ? ein beliebiges Zeichen findet.'

##################################################################################

##
## select all objects from database
##
#set $searchPattern = $request.field('search','')
#set $storeObjects = $search(str($searchPattern))
#set $count = $storeObjects.count

##
## read index and calculate the new indexes for paging in the table.
##
#set $index = int($request.field('index',0))
#set $nextIndex = $index + $rows
#set $endIndex = $index + $rows
#if $nextIndex >= $count
  #set $endIndex = $count
#end if
#set $prevIndex = max(($index / $rows - 1) * $rows,0)
#set $lastIndex = ($count / $rows) * $rows

#if $count == 1
    #silent $response.sendRedirect($linkPattern + str($storeObjects[0].allAttrs()[$linkFields[0]]))
#end if

##
## title of table
##
<table width="100%">
    <tr bgcolor="yellow" valign=top>
      <th>
        #if $index != 0
          <a href="$name?index=0&search=$searchPattern"><img src="images/start.png" border=0></a>
        #end if
        #if $index != $prevIndex
          <a href="$name?index=$prevIndex&search=$searchPattern"><img src="images/left.png" border=0></a>
        #end if
        &nbsp;
        $tableTitle
        &nbsp;
        #if $nextIndex < $count
          <a href="$name?index=$nextIndex&search=$searchPattern"><img src="images/right.png" border=0></a>
        #end if
        #if $lastIndex > 0 and $nextIndex <= $lastIndex
          <a href="$name?index=$lastIndex&search=$searchPattern"><img src="images/end.png" border=0></a>
        #end if
      </th>
    </tr>
</table>

<table width="100%">

    ##
    ## Spalten-Überschrift
    ##
    <tr bgcolor="yellow" valign=top>
      #for $field in $fieldkeys
      <td width="$fields[$field].width">
        $fields[$field].title
      </td>
      #end for
      <td>&nbsp;</td>
    </tr>
    
    #for $entries in $storeObjects[$index:$endIndex]:
    
      ##
      ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
      ## Geldbeträge und Datum
      ##
      #set $attrs = $entries.allAttrs()
      <tr bgcolor="lightblue">
      #for $field in $fieldkeys
        #if $attrs[$field] == None
          <td>
          #set $content = '&nbsp;'
        #elif $fields[$field].type == 'currency'
          <td align="right">
          #if $attrs[$field] != 0.0
            #set $content = string.replace('%5.2f' % $attrs[$field],'.',',')
          #end if
        #elif $fields[$field].type == 'date'
          <td>
          #try
              #set $content = $attrs[$field].strftime($dateFormat)
          #except
              #set $content = "** Error **"
          #end try
        #else
          <td>
          #set $content = $attrs[$field]
        #end if
        #if $fields[$field].has_key('format') and $content
            #set $content = eval($fields[$field]["format"] % $content)
        #end if
        #if $field in $linkFields
            <a href='$linkPattern$content'>$content</a>
        #else
            $content
        #end if
        </td>
      #end for
      <td>&nbsp;</td>
    </tr>
    #end for

</table>
