##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#import string
#import Libs.misc

#extends Libs.SiteContent

#implements writeContent
##################################################################################

## TODO: How to overwrite an attribute in a python class used in a block
#attr fieldkeys = []
#attr fields = {}

#attr linkFields = []
#attr linkPattern = ''

#attr rows = 24

#attr tableTitle = ''

#attr helpText = '<span id="labelHelpSearch" />'

#def cursor()
    onload="document.searchForm.search.focus()"
#end def

##################################################################################

##
## select all objects from database
##
#set $searchPattern = $request.field('search','')
#set $storeObjects = $search(str($searchPattern))
#set $count = $storeObjects.count

##
## read index and calculate the new indexes for paging in the table.
##
#set $index = int($request.field('index',0))
#set $nextIndex = $index + $rows
#set $endIndex = $index + $rows
#if $nextIndex >= $count
  #set $endIndex = $count
#end if
#set $prevIndex = max(($index / $rows - 1) * $rows,0)
#set $lastIndex = ($count / $rows) * $rows

#if $count == 1
    #silent $response.sendRedirect($linkPattern + str($storeObjects[0].allAttrs()[$linkFields[0]]))
#end if

##
## navigation between the pages
##
<div id=pageNavigation>
    #if $index != 0
        <div id="moveToStart" class="hasMove">
            <a href="$name?index=0&amp;search=$searchPattern"><span id="labelMoveToStart" /></a>
        </div>
    #else
        <div id="moveToStart" class="hasNoMove">
            <span id="labelMoveToStart"/>
        </div>
    #end if
    #if $index != $prevIndex
        <div id="movePageUp" class="hasMove">
            <a href="$name?index=$prevIndex&amp;search=$searchPattern"><span id="labelMovePageUp" /></a>
        </div>
    #else
        <div id="movePageUp" class="hasNoMove">
            <span id="labelMovePageUp" />
        </div>
    #end if
    #if $nextIndex < $count
        <div id="movePageDown" class="hasMove">
            <a href="$name?index=$nextIndex&amp;search=$searchPattern"><span id="labelMovePageDown" /></a>
        </div>
    #else
        <div id="movePageDown" class="hasNoMove">
            <span id="labelMovePageDown" />
        </div>
    #end if
    #if ($lastIndex > 0) and ($nextIndex <= $lastIndex)
        <div id="moveToEnd" class="hasMove">
            <a href="$name?index=$lastIndex&amp;search=$searchPattern"><span id="labelMoveToEnd" /></a>
        </div>
    #else
        <div id="moveToEnd" class="hasNoMove">
            <span id="labelMoveToEnd" />
        </div>
    #end if
</div>

##
## title of table
##
<div id=searchTable>
    ##
    ## Spalten-Überschrift
    ##
    <div class="searchHeader">
        #for $field in $fieldkeys
            <div id="header$field" class="searchHeaderItem" style="width:$fields[$field].width">
                <span id="labelSearch$field" />
            </div>
        #end for
    </div>
    
    #set $evenEntry = False
    #for $entries in $storeObjects[$index:$endIndex]:
    
      #set $evenEntry = not $evenEntry
      #if $evenEntry
        #set $evenEntryClass = "evenEntry"
      #else
        #set $evenEntryClass = "oddEntry"
      #end if

      ##
      ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
      ## Geldbeträge und Datum
      ##
      #set $attrs = $entries.allAttrs()
      <div class="searchEntry $evenEntryClass">
      #for $field in $fieldkeys
        #if $attrs[$field] == None
          <div class="searchItem $field" style="width:$fields[$field].width">
          #set $content = '&nbsp;'
        #elif $fields[$field].type == 'currency'
          <div class="searchItem $field currency" style="width:$fields[$field].width">
          #if $attrs[$field] != 0.0
            #set $content = string.replace('%5.2f' % $attrs[$field],'.',',')
          #else
            #set $content = '&nbsp;'
          #end if
        #elif $fields[$field].type == 'date'
          #try
              <div class="searchItem $field date" style="width:$fields[$field].width">
              #set $content = $attrs[$field].strftime($dateFormat)
          #except
              <div class="searchItem $field ErrorValue" style="width:$fields[$field].width">
              #set $content = '&nbsp;'
          #end try
        #elif $string.strip(str($attrs[$field]))
          <div class="searchItem $field" style="width:$fields[$field].width">
          #set $content = $attrs[$field]
        #else
          <div class="searchItem $field" style="width:$fields[$field].width">
          #set $content = '&nbsp;'
        #end if
        #if $fields[$field].has_key('format') and $content
            #set $content = eval($fields[$field]["format"] % $content)
        #end if
        #if $field in $linkFields
            <a class="SearchValue" href='$linkPattern$content'><span>$content</span></a>
        #else
            <span class="SearchValue">$content</span>
        #end if
        </div>
      #end for
      </div>
    #end for

</div>
