#import string
#from esm import misc

#extends SiteTemplate

#implements writeContent
##################################################################################

#attr bodyTagAttribs = {'text':'black',"onload":"document.search.search.focus()"}

#attr fieldkeys = []
#attr fields = {}

#attr linkFields = []
#attr linkPattern = ''

#attr rows = 25

#attr alphaSearchFields = []
#attr numericSearchFields = []
#attr searchPage = ''
#attr sortField = ''

#attr tableStore = ''
#attr tableTitle = ''

#attr helpText = 'Zum Suchen können Muster angegeben werden. So kann * einen ' + \
  'beliebigen Text ersetzen, während ? ein beliebiges Zeichen findet.'

##################################################################################

#if $tableStore != ''

  ##
  ## read index and calculate the new indexes for paging in the table.
  ##
  #set $index = int($request.field('index',0))
  #set $nextIndex = $index + $rows
  #set $prevIndex = max(($index / $rows - 1) * $rows,0)

  ##
  ## search and clause for database select
  ##
  #set $search = str($request.field('search',''))
  #set $clause = misc.buildAccountClause($search,$alphaSearchFields,$numericSearchFields,$sortField)
  ##
  ## read objects from database
  ##
  #set $storeObjects = $store.fetchObjectsOfClass($tableStore,'%s LIMIT %i,%i' % ($clause,$index,$rows))

  #if len($storeObjects) == 1
    #silent $response.sendRedirect($linkPattern + $storeObjects[0].allAttrs(0)[$linkFields[0]])
  #end if

  ##
  ## title of table
  ##
  <table width="100%">
    <tr bgcolor="yellow" valign=top>
      <th>
        #if $index != $prevIndex
          <a href="$name?index=$prevIndex&search=$search"><img src="left.png" border=0></a>
        #end if
        &nbsp;
        $tableTitle
        &nbsp;
        #if len($storeObjects) == $rows
          <a href="$name?index=$nextIndex&search=$search"><img src="right.png" border=0></a>
        #end if
      </th>
    </tr>
  </table>

  ##
  ## Suchen
  ##
  <table width="100%" cellpadding=0>
    <tr bgcolor="yellow" valign=top>
      <td>
        <form name="search" action="$searchPage" method=post>
          &nbsp;<input name="search" type="text" size=10 maxlength=40>
          &nbsp;<input type=image src="search.png">
          &nbsp;&nbsp;&nbsp;
          #for $letter in "0123456789"
            <a href="$searchPage?search=$letter*">$letter</a>
          #end for
          &nbsp;&nbsp;
          #for $letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
            <a href="$searchPage?search=$letter*">$letter</a>
          #end for
        </form>
      </td>
    </tr>
  </table>

  <table width="100%">
    ##
    ## Spalten-Überschrift
    ##
    <tr bgcolor="yellow" valign=top>
      #for $field in $fieldkeys
      <td width="$fields[$field].width">
        $fields[$field].title
      </td>
      #end for
      <td>&nbsp;</td>
    </tr>

    #for $entries in $storeObjects:

      ##
      ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
      ## Geldbeträge und Datum
      ##
      #set $attrs = $entries.allAttrs(0)
      <tr bgcolor="lightblue">
      #for $field in $fieldkeys
        #if $attrs[$field] == None
          <td>
          #set $content = '&nbsp;'
        #elif $fields[$field].type == 'currency'
          <td align="right">
          #if $attrs[$field] != 0.0
            #set $content = string.replace('%5.2f' % $attrs[$field],'.',',')
          #end if
        #elif $fields[$field].type == 'date'
          <td>
          #set $content = $attrs[$field].strftime($dateFormat)
        #else
          <td>
          #set $content = $attrs[$field]
        #end if
		  #if $fields[$field].has_key('format') and $content
        #set $content = eval($fields[$field]["format"] % $content)
		  #end if
      #if $field in $linkFields
        <a href='$linkPattern$content'>$content</a>
      #else
        $content
      #end if
      </td>
      #end for
      <td>&nbsp;</td>
    </tr>
    #end for

  </table>

#end if
