#extends SiteTemplate
##################################################################################

#attr contentBox = {
  "border":"0",
  "align":"center",
  "valign":"middle",
  "frameColor":"#DDDDDD",
  "bgColor":"green",
  "background":""
  }

##################################################################################

