##
## File:      $URL: svn+ssh://jgottschick@svn.berlios.de/svnroot/repos/esm/Trunk/Templates/SiteLayout.tmpl $
## Version:   $Rev: 46 $
## Changed:   $Date: 2006-01-01 19:46:22 +0100 (So, 01 Jan 2006) $
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev: 46 $"[6:-2]

#from mx import DateTime
#import string

#from Libs.SiteBase import SiteBase

#extends SiteBase

#implements respond
##################################################################################

#attr role = 'viewer'
#attr section = ''

#attr title = "E-Sportmanager"
#attr language="de"

#attr focusField = ''
#attr styleSheet = 'style.css'
#attr printSheet = 'style.css'

#attr esmLink = "http://esm.berlios.de"
#attr aboutPage = "about"
#attr forumPage = "/forum/forum.php"
#attr helpLink = "/help/index.html"
#attr licenseLink = "http://esm.berlios.de"

#attr tooltip_options = "this.T_BGCOLOR='yellow';this.T_BORDERWIDTH=0;this.T_WIDTH=150;this.T_DELAY=1000;"

#attr helpText = ''

#attr metaTags = {
  'HTTP_EQUIV':{
    'Content-Type':'text/html',
    'Charset':'UTF-8',
    'Pragma':'no-cache',
    'Cache-Control':'no-cache',
    'Pragma-directive':'no-cache',
    'Cache-Directive':'no-cache',
    'Expires':'0',
  },
  'NAME':{
    'generator':'E-Sportmanager: The ultimate club management',
    'author':'Jan Gottschick',
  }
}

##################################################################################
##
## macro to position cursor in a form
##

#def cursor()
    ## something like "onload=document.form.username.focus()"
#end def

##################################################################################
##
## macro to insert tooltips
##

#def tooltip(item)
    onmouseover="$tooltip_options return escape(${item}())"
#end def

#def tooltipString(item)
    onmouseover="$tooltip_options return escape('${item}')"
#end def

##################################################################################
##
## initialize global variables
##

#set global $accountYear = $transaction.session.value('accountYear',str(DateTime.now().year))

##################################################################################
##
## check if user is permitted to view page
##

$checkRole($role)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$language" >
    
    ##################################################################################
    ##
    ## Copyright notice for every page
    ##
    
    <!--
    
      Homepage:  http://esm.berlios.de
      Copyright: GNU Public License Version 2 (see license.txt)
    
      E-Sportmanager (esm)
    
      Copyright (C) 2000 - $currentYr Jan Gottschick
    
    -->
    
    <head>
        <title>$title</title>
        $formatMetaTags($metaTags)
        
        <link rel="stylesheet" type="text/css" media="screen" href="$getStylesDir/$styleSheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="Styles/_text/${getLanguage('Styles/_text','base.css')}-base.css" />
        ## <link rel="stylesheet" type="text/css" media="print" href="$getStylesDir/$printSheet" />
        #if $section
            <link rel="stylesheet" type="text/css" media="screen" href="$getStylesDir/${section}-${styleSheet}" />
            <link rel="stylesheet" type="text/css" media="screen" href="Styles/_text/${getLanguage('Styles/_text',$section + '.css')}-${section}.css" />
            <link rel="stylesheet" type="text/css" media="print" href="$getStylesDir/${section}-${printSheet}" />
        #end if
        #####################
        #block StyleSheets        
        #end block
        #####################
        
        <script src="Javascript/${getLanguage('Javascript','base.js')}-base.js" type="text/javascript"></script>
        #####################
        #block Javascript
        #end block
        #####################

    </head>
    
    <body id="body" $cursor()>
    
        <div id="wrapper" class="container">
        
            <div id="header" class="container">
                <h1><span id="labelEsmTitle"/></h1>
                <h1><span id="labelSiteTitle">$getTitle</span></h1>
                <h2><span id="labelEsmSubtitle"/></h2>
            </div>
            
            <div id="tabbing" class="container">
                #####################
                #block writeTabbing
                <span class="debug">Tabbing block</span>
                #end block
                #####################
            </div>
            
            <div id="navigation" class="container">
            
                <div id="search">
                    #####################
                    #block writeSearch
                    <span class="debug">Search block</span>
                    #end block
                    #####################
                </div>
            
                <div id="menu">
                    #####################
                    #block writeMenu
                    <span class="debug">Menu block</span>
                    #end block
                    #####################
                </div>
                
            </div>
    
            ## silent $response.flush()
        
            <div id="contentArea" class="container">
            
                ##
                ## Every page can show a hint or help text after the content. Therefor
                ## you have to define the setting 'helpText'.
                ##
                
                #if $helpText
                    <div id="help" class="hasHelp container">
                        <div id="helpTitle"><span id="labelHelpTitle"/></div>
                        <div id="helpText">$helpText</div>
                    </div>
                #else
                    <div id="help" class="hasNoHelp container">
                        <div id="helpText" class="debug">Help block</div>
                    </div>
                #end if
            
                <div id="content" class="container">
                    #####################
                    #block writeContent
                    
                    ##
                    ## Every page can show an error message after the content. Therefor
                    ## you have to define the setting 'errorText'.
                    ##
                    
                    <span class="debug">Content block</span>
                    
                    #end block
                    #####################
                </div>
                
                ##
                ## show an error text if exist
                ##
                
                #set $errorText = $request.field('error','')
                #if $errorText
                    <div id="error" class="hasError container">
                        <div id="errorTitle"><span id="labelErrorTitle"/></div>
                        <div id="errorText"><span id="labelError$errorText"/></div>
                    </div>
                #else
                    <div id="error" class="hasNoError container">
                        <p class="debug">Error block</p>
                    </div>
                #end if
        
            </div>
        
            ##
            ## Footer (various Links including Tooltips)
            ##
            <div id="footer" class="container">
                <div class="footerList">
                    <div id="username" class="footerItem"><span id="labelUsername">$getLoggedInUser</span></div>
                    <div id="club" class="footerItem"><a href="$getLink" target="_blank" $tooltip("ttOrganisation")><span id="labelOrganisation">$getOrganisation</span></a></div>
                    <div id="esm" class="footerItem"><a href="$esmLink" target="_blank" $tooltip("ttESportmanager")><span id="labelESportmanager"/></a></div>
                    <div id="esmShort" class="footerItem"><a href="$esmLink" target="_blank" $tooltip("ttESportmanagerShort")><span id="labelESportmanagerShort"/></a></div>
                    <div id="version" class="footerItem"><span id="labelVersion">$getVersion</span></div>
                    <div id="copyright" class="footerItem"><a href="$licenseLink" target="_blank" $tooltip("ttCopyright")><span id="labelCopyright">&copy; 2000 - $currentYr</span></a></div>
                    <div id="license" class="footerItem"><a href="$licenseLink" target="_blank" $tooltip("ttLicense")><span id="labelLicense"/></a></div>
                    <div id="about" class="footerItem"><a href="$aboutPage" target="_blank" $tooltip("ttAbout")><span id="labelAbout"/></a></div>
                    <div id="helppages" class="footerItem"><a href="$helpLink" target="_blank" $tooltip("ttHelp")><span id="labelHelp"/></a></div>
                    <div id="support" class="footerItem"><a href="mailto:$getMailAddress" $tooltip("ttSupport")><span id="labelSupport"/></a></div>
                    <div id="forum" class="footerItem"><a href="$forumPage" target="_blank" $tooltip("ttForum")><span id="labelForum"/></a></div>
                    <div id="esmHome" class="footerItem"><a href="$esmLink" target="_blank" $tooltip("ttHome")><span id="labelHome"/></a></div>
                </div>
            </div>
        </div>
        
        ##
        ## extra div's to insert graphics
        ##
        <div id="extraDiv1"/>
        <div id="extraDiv2"/>
        <div id="extraDiv3"/>
        <div id="extraDiv4"/>
        <div id="extraDiv5"/>
        <div id="extraDiv6"/>
        
        ##
        ## support tooltips using http://www.walterzorn.de/tooltip
        ##
        <script src="Javascript/wz_tooltip.js" type="text/javascript"></script>
    </body>

</html>
