##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#from GlobalState import Store
#from mx import DateTime
#import string

#extends SiteBase

#implements respond
##################################################################################

#attr role = 'viewer'

#attr clubName = "Club e.V."
#attr siteDomainName = 'esm.office.red2pro.net'
#attr siteURL = 'http://localhost/services/esm/'
#attr siteCopyrightName= 'red2pro - das Redaktionsteam'
#attr siteCredits = 'Designed & Implemented by Jan Gottschick, Claudio Gärtner'

#attr metaTags = {
  'HTTP_EQUIV':{
    'keywords':'E-Sportmanager',
    'Pragma':'no-cache',
    'Cache-Control':'no-cache',
    'Pragma-directive':'no-cache',
    'Cache-Directive':'no-cache',
    'Expires':'0',
  },
  'NAME':{'generator':'E-Sportmanager: The ultimate club management'}
  }

#attr bodyTagAttribs = {'text':'black'}
#attr htmlTag = '<html>'

#attr logo="logo.png"

#attr logoBox = {
  "width":160,
  "height":"80",
  "border":"0",
  "align":"left",
  "frameColor":"#DDDDDD",
  "bgColor":"blue",
  "background":""
  }

#attr headerBox = {
  "border":"0",
  "align":"center",
  "valign":"middle",
  "frameColor":"#DDDDDD",
  "bgColor":"blue",
  "fontSize":"20",
  "background":"background.png"
  }

#attr menuBox = {
  "width":"180",
  "height":"600",
  "border":"0",
  "align":"center",
  "valign":"top",
  "frameColor":"#DDDDDD",
  "bgColor":"green",
  "background":""
  }

#attr contentBox = {
  "border":"0",
  "align":"center",
  "valign":"top",
  "frameColor":"#DDDDDD",
  "bgColor":"green",
  "background":""
  }

#attr errorBox = {
  "border":"0",
  "align":"center",
  "valign":"middle",
  "frameColor":"#DDDDDD",
  "bgColor":"red",
  "background":""
  }

#attr errorSymbol = "idea.gif"

#attr helpBox = {
  "border":"0",
  "align":"center",
  "valign":"middle",
  "frameColor":"#DDDDDD",
  "bgColor":"lightgreen",
  "background":""
  }

#attr helpSymbol = "idea.gif"
#attr helpText = ''

#attr sanSerifFonts = """helvetica, arial, "lucida sans", sans-serif"""

##################################################################################

##
## read in database
##
#set global $store = Store.store

##
## initialize year
##
#set global $accountYear = $transaction.session.value('accountYear',str(DateTime.now().year))

##################################################################################

$checkRole($role)

#cache id='header'
$docType
$htmlTag
<!-- This document was autogenerated by Cheetah. Don't edit it directly!

Copyright $currentYr - $siteCopyrightName - All Rights Reserved.

Feel free to copy any javascript or html you like on this site,
provided you remove all links and/or references to $siteDomainName
However, please do not copy any content or images without permission.

$siteCredits

-->
#block writeHeadTag
<head>
<title>$clubName - E-Sportmanager</title>
$formatMetaTags($metaTags)
$stylesheetTags
$javascriptTags
<SCRIPT language="JavaScript">
<!--

if (!document.layers&&!document.all)
  event="";

function zeigetip(current,e,text)      //Zeige Tip
{
  if (document.all) {
    thetitle=text.split('<BR>')
    if (thetitle.length>1) {
        thetitles=''
        for (i=0;i<thetitle.length;i++)
          thetitles+=thetitle[i]
        current.title=thetitles
    } else
        current.title=text
  } else
    if (document.layers){
      document.tooltip.document.write('<layer bgColor="white" style="border:1px solid black;">'+text+'</layer>')
      document.tooltip.document.close()
      document.tooltip.left=e.pageX+5
      document.tooltip.top=e.pageY+5
      document.tooltip.visibility="show"
    }
}

function verbergetip(){        //verberge Tip
  if (document.layers)
    document.tooltip.visibility="hidden"
}

//-->
</SCRIPT>
</head>
#end block writeHeadTag

#end cache

$bodyTag

<basefont face="$sanSerifFonts">
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%">
  <TR>
#if $logoBox.background
    <TD BGCOLOR="$logoBox.bgColor" WIDTH="$logoBox.width" HEIGHT="$logoBox.height" BACKGROUND="$logoBox.background" BORDER="$logoBox.border" ALIGN="center" VALIGN="middle">
#else
    <TD BGCOLOR="$logoBox.bgColor" WIDTH="$logoBox.width" HEIGHT="$logoBox.height" BACKGROUND="$headerBox.background" BORDER="$logoBox.border" ALIGN="center" VALIGN="middle">
#end if

#####################
#block writeLogo
      <a href="$siteURL"><IMG SRC=images/$logo BORDER="0"></a>
#end block
#####################

    </TD>
    <TD BGCOLOR="$headerBox.bgColor" ALIGN="$headerBox.align" VALIGN="$headerBox.valign" BACKGROUND="$headerBox.background" BORDER="$headerBox.border">

#####################
#block writeHeader
      <FONT SIZE="$headerBox.fontSize"><b>$clubName - E-Sportmanager</b></FONT>
#end block
#####################

    </TD>
  </tr>
</TABLE>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%">
  <tr>
    <TD BGCOLOR="$menuBox.bgColor" WIDTH="$menuBox.width" HEIGHT="$menuBox.height" BACKGROUND="$menuBox.background" align="$menuBox.align" valign="$menuBox.valign" BORDER="$menuBox.border">

#####################
#block writeMenu
      &nbsp;
#end block
#####################

    </TD>
    <TD BGCOLOR="$contentBox.bgColor" BACKGROUND="$contentBox.background" align="$contentBox.align" valign="$contentBox.valign">

## silent $response.flush()
      <TABLE WIDTH="100%" CELLSPACING="0">

        <TR><TD align="$contentBox.align" valign="$contentBox.valign" BORDER="$contentBox.border">
#####################
#block writeContent

##
## Every page can show an error message after the content. Therefor
## you have to define the setting 'errorText'.
##
#####################

      #set $errorText = $request.field('error','')
      #if $errorText
        <table WIDTH="100%" cellspacing=0>
          <tr>
            <td BGCOLOR="$errorBox.bgColor" BACKGROUND="$errorBox.background" align="$errorBox.align" valign="$errorBox.valign" width="5%">
              <IMG SRC="images/$errorSymbol" BORDER="0" ALIGN="middle">
            </td>
            <td BGCOLOR="$errorBox.bgColor" BACKGROUND="$errorBox.background" align="$errorBox.align" valign="$errorBox.valign">
              $errorText
            </td>
          </tr>
        </table>
      #end if

#####################

      &nbsp;
#end block
#####################
        </TD></TR>

##
## Every page can show a hint or help text after the content. Therefor
## you have to define the setting 'helpText'.
##
#####################
#block writeHelp

      #if $helpText
        <TR><TD>
          <table WIDTH="100%" cellspacing=0>
            <tr>
              <td BGCOLOR="$helpBox.bgColor" BACKGROUND="$helpBox.background" align="$helpBox.align" valign="$helpBox.valign" width="5%">
                <IMG SRC="images/$helpSymbol" BORDER="0" ALIGN="middle">
              </td>
              <td BGCOLOR="$helpBox.bgColor" BACKGROUND="$helpBox.background" align="$helpBox.align" valign="$helpBox.valign">
                $helpText
              </td>
            </tr>
          </table>
        </TD></TR>
      #end if

#end block
#####################
      </TABLE>
    </TD>
  </tr>
</table>
</body>
</html>
