##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#from mx import DateTime
#import string

#from Libs.SiteBase import SiteBase

#extends SiteBase

#implements respond
##################################################################################

#attr role = 'viewer'

#attr title = "E-Sportmanager"
#attr language="de"

#attr focusField = ''
#attr styleSheet = 'style.css'
#attr printSheet = 'style.css'

#attr esmLink = "http://esm.berlios.de"
#attr aboutPage = "about"
#attr forumPage = "/forum/forum.php"
#attr helpLink = "/help/index.html"
#attr licenseLink = "http://esm.berlios.de"

#attr helpText = ''

#attr metaTags = {
  'HTTP_EQUIV':{
    'Content-Type':'text/html',
    'Charset':'UTF-8',
    'Pragma':'no-cache',
    'Cache-Control':'no-cache',
    'Pragma-directive':'no-cache',
    'Cache-Directive':'no-cache',
    'Expires':'0',
  },
  'NAME':{
    'generator':'E-Sportmanager: The ultimate club management',
    'author':'Jan Gottschick',
  }
}

##################################################################################
##
## initialize global variables
##

#set global $accountYear = $transaction.session.value('accountYear',str(DateTime.now().year))

##################################################################################
##
## check if user is permitted to view page
##

$checkRole($role)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$language" >
    
    ##################################################################################
    ##
    ## Copyright notice for every page
    ##
    
    <!--
    
      Homepage:  http://esm.berlios.de
      Copyright: GNU Public License Version 2 (see license.txt)
    
      E-Sportmanager (esm)
    
      Copyright (C) 2000 - $currentYr Jan Gottschick
    
    -->
    
    <head>
      <title>$title</title>
      $formatMetaTags($metaTags)
      
      <script src="Javascript/base.js" type="text/javascript"></script>
    
      <link rel="stylesheet" type="text/css" media="screen" href="$getStylesDir/$styleSheet" />
      <link rel="stylesheet" type="text/css" media="screen" href="Styles/_text/${getLanguage('base')}-base.css" />
      <link rel="stylesheet" type="text/css" media="print" href="$getStylesDir/$printSheet" />
      
      ##################################################################################
      ##
      ## Javascript code to be used by all pages
      ##
    
      <SCRIPT type="text/javascript">
    
        if (!document.layers&&!document.all)
          event=""
            
        #####################
        #block javascript
        
        #end block
        #####################
      </SCRIPT>
      
    </head>
    
    <body id="body" onload="document.#echo $focusField #.focus()">
    
        <div id="wrapper" class="container">
        
            <div id="header" class="container">
                <h1 id="labelEsmTitle"><span>ESM</span></h1>
                <h1 id="labelSiteTitle"><span>$getTitle</span></h1>
                <h2 id="labelEsmSubtitle"><span>the ultimate management for your sport club</span></h2>
            </div>
            
            <div id="navigation" class="container">
            
                <div id="search">
                    #####################
                    #block writeSearch
                    <span class="debug">Search block</span>
                    #end block
                    #####################
                </div>
            
                <div id="menu">
                    #####################
                    #block writeMenu
                    <span class="debug">Menu block</span>
                    #end block
                    #####################
                </div>
                
            </div>
    
            ## silent $response.flush()
        
            <div id="contentArea" class="container">
            
                ##
                ## Every page can show a hint or help text after the content. Therefor
                ## you have to define the setting 'helpText'.
                ##
                
                #if $helpText
                    <div id="help" class="hasHelp,container">
                        <p id="labelHelpTitle">Hinweis<p>
                        <p id="labelHelpText">$helptext</p>
                    </div>
                #else
                    <div id="help" class="hasNoHelp,container">
                        <p id="helpText" class="debug">Help block</p>
                    </div>
                #end if
            
                <div id="content" class="container">
                    #####################
                    ##block writeContent
                    
                    ##
                    ## Every page can show an error message after the content. Therefor
                    ## you have to define the setting 'errorText'.
                    ##
                    
                    <span class="debug">Content block</span>
                    
                    ##end block
                    #####################
                </div>
                
                ##
                ## show an error text if exist
                ##
                
                #set $errorText = $request.field('error','')
                #if $errorText
                    <div id="error" class="hasError,container">
                        <p>$errortext</p>
                    </div>
                #else
                    <div id="error" class="hasNoError,container">
                        <p class="debug">Error block</p>
                    </div>
                #end if
        
            </div>
        
            ##
            ## Footer
            ##
            <div id="footer" class="container">
                <div class="list">
                    <div id="club" class="listItem"><a id="labelOrganisation" href="$getLink" target="_blank"><span>$getOrganisation</span></a></div>
                    <div id="esm" class="listItem"><a id="labelESportmanager" href="$esmLink" target="_blank"><span>E-Sportmanager</span></a></div>
                    <div id="esmShort" class="listItem"><a id="labelESportmanagerShort" href="$esmLink" target="_blank"><span>esm</span></a></div>
                    <div id="version" class="listItem"><span>$getVersion</span></div>
                    <div id="copyright" class="listItem"><a id="labelCopyright" href="$licenseLink" target="_blank"><span>&copy; 2000 - $currentYr</span></a></div>
                    <div id="license" class="listItem"><a id="labelLicense" href="$licenseLink" target="_blank"><span>Lizenz</span></a></div>
                    <div id="about" class="listItem"><a id="labelAbout" href="$aboutPage" target="_blank"><span>Über</span></a></div>
                    <div id="helppages" class="listItem"><a id="labelHelp" href="$helpLink" target="_blank"><span>Hilfe</span></a></div>
                    <div id="support" class="listItem"><a id="labelSupport" href="mailto:$getMail"><span>Support</span></a></div>
                    <div id="forum" class="listItem"><a id="labelForum" href="$forumPage" target="_blank" onMouseOver="showtip(this,event,'Use forum for discussion')" onMouseOut="hidetip()"><span>Forum</span></a></div>
                    <div id="esmHome" class="listItem"><a id="labelHome" href="$esmLink" target="_blank"><span>Home</span></a></div>
                </div>
            </div>
        
        </div>
        
        <div id="extraDiv1"/>
        <div id="extraDiv2"/>
        <div id="extraDiv3"/>
        <div id="extraDiv4"/>
        <div id="extraDiv5"/>
        <div id="extraDiv6"/>
        
    </body>

</html>
