##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#import string

#extends Libs.SiteLayout
##################################################################################

##
## In menuPoints are all main point of the menu listed. The title will be shown
## to the user where the link makes this point selectable if present. The
## subMenuPoints are shown below the selected menu point in activeMenuPoint.
## subMenuPoints has the same structure and meaning as menuPoints. These menu
## points are related to the genus.
##

#attr menuPoints = [
  {'tmpl':'Member','link':'MemberLedgerSearch'},
  {'tmpl':'Personal','link':'PersonalLedgerSearch'},
  {'tmpl':'Vendor','link':'VendorLedgerSearch'},
  {'tmpl':'Accounting','link':'BankLedgerSearch'},
  {'tmpl':'Administration','link':'Administration','role':'auditor'},
  {'tmpl':'Profile','link':'Profile'},
  {'tmpl':'Logout','title':'Ausloggen','link':'Logout'}
  ]

#attr activeMenuPoint = ''
#attr activeSubmenuPoint = ''
#attr activeTemplate = ''

#attr searchPage = 'MemberSearch'

#attr subMenuPoints = []

##################################################################################

#def writeLine(title,line,condition='',optional='',error='')
    ##
    ## writes a line with a title, value, optional value and an error text
    ##
    <div class="line evenLine">
        <div class="lineTitle"><span id="labelLineTitle$title" /></div>
        <div class="lineValue">
            #if $line
                <span id="labelLineValue$title"  class="lineText">$line</span>
            #else
                <span class="lineText empty" />
            #end if
            #if $condition and $optional
                <span id="labelLineOption$title"  class="lineOption">$optional</span>
            #end if
            #if $error
                <span class="$error lineError" />
            #end if
        </div>
    </div>
#end def

#def writeLine2(title,line,condition='',optional='',error='')
    ##
    ## writes a second line with a title, value, optional value and an error text
    ## as the second line it could be decorated differently to the first one
    ##
    <div class="line oddLine">
        <div class="lineTitle"><span id="labelLineTitle$title" /></div>
        <div class="lineValue">
            #if $line
                <span id="labelLineValue$title" class="lineText">$line</span>
            #else
                <span class="lineText empty" />
            #end if
            #if $condition and $optional
                <span id="labelLineOption$title" class="lineOption">$optional</span>
            #end if
            #if $error
                <span class="$error lineError" />
            #end if
        </div>
    </div>
#end def

#def writeTable(attrs,indexs,headers,fields)
    <div class="table">
        <div class="tableHeaders">
            #for header in headers
                <div class="tableHeader">
                    <span id="labelTableHeader$header" class="headerItem" />
                </div>
            #end for
        </div>
        #set $evenEntry = False
        #for index in indexs
            #set $evenEntry = not $evenEntry
            #if $attrs[$fields[0]['name']+str($index)]
                #if $evenEntry
                    #set $evenEntryClass = "evenEntry"
                #else
                    #set $evenEntryClass = "oddEntry"
                #end if
                <div class="tableLine $evenEntryClass">
                    #for field in fields
                        <div class="tableItem">
                            #if $field['type'] == 'date' and $attrs[$field['name']+str($index)]
                                #try
                                    #set $content = $attrs[$field['name']+str($index)]
                                    <span class="date">$content.strftime($dateFormat)</span>
                                #except:
                                    <span class="error" />
                                #end try
                            #elif $field['type'] == 'string'
                                <span>$attrs[$field['name']+str($index)]</span>
                            #elif $field['type'] == 'currency' and $attrs[$field['name']+str($index)]
                                <span class="currency">#echo string.replace('%.2f' % float($attrs[$field['name']+str($index)]),'.',',')#</span>
                            #else
                                <span class="empty" />
                            #end if
                        </div>
                    #end for
                </div>
            #end if
        #end for
    </div>
#end def


#####################
#def writeSearch

    ##
    ## Set the year to show the transfers for that yearly period
    ##
    <form name="year" action="SetYear" method=post>
        <div id="yearForm">
            <input name="year" type="text" size=10 maxlength=40 value="$accountYear"/>
            <button type="submit"><span id="labelButtonYear" /></button>
        </div>
    </form>
    
    ##
    ## Start search for account(s)
    ##
    <form name="searchForm" action="$searchPage" method=post>
        <div id="searchForm">
            <input name="search" type="text" size=10 maxlength=40/>
            <button type="submit"><span id="labelButtonSearch" /></button>
        </div>
    </form>

#end def
#####################

#####################
#def writeMenu

    ##
    ## Each menu point is represented simple text and a link. If the link information of a menu point
    ## is empty, no link is available and only the text is shown.
    ##
    
    #for x in $menuPoints
        #if $x.tmpl == $activeMenuPoint
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and $x.role not in $transaction.session.value('authenticated_roles',[]))
                ##
                ## show active menu point
                ##
                #if $x.has_key('title')
                    #set $title = 'labelMenu' + $x.title
                #else
                    #set $title = 'labelMenu' + $x.tmpl
                #end if
                #if $x.link
                    <h3 class="active notabbing">
                        <a href="$x.link"><span id="$title" /></a>
                    </h3>
                #else
                    <h3 class="active notabbing">
                        <span id="$title" />
                    </h3>
                #end if
                ##
                ## submenus are shown below the active menu point
                ##
                <div id="submenu">
                #for y in $subMenuPoints
                    ##
                    ## show submenu only if an optional condition is true
                    ##
                    #if self.lazyCondition($y.condition)
                        ##
                        ## if a link has a role info, the link is only shown is the user has the role
                        ##
                        #if not ($y.has_key('role') and (not $transaction.session.value('authenticated_user','') or $y.role not in $transaction.session.value('authenticated_roles',[])))
                            #if $y.has_key('title')
                                #set $title = 'labelMenu' + $y.title
                            #else
                                #set $title = 'labelMenu' + $y.tmpl
                            #end if
                            #if $y.tmpl == $activeSubmenuPoint
                                <h4 class="active"><span id="$title" /></h4>
                            #elif $y.title
                                #if $y.link
                                    <h4 class="notActive">
                                        <a href="#include source=$y.link #"><span id="$title" /></a>
                                    </h4>
                                #else
                                    <h4 class="notAvailable"><span id="$title" /></h4>
                                #end if
                            #end if
                        #end if
                    #end if
                #end for
                </div>
            #end if
        #else
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and (not $transaction.session.value('authenticated_user','') or $x.role not in $transaction.session.value('authenticated_roles',[])))
                ##
                ## show not active menu point
                ##
                #if $x.has_key('title')
                    #set $title = 'labelMenu' + $x.title
                #else
                    #set $title = 'labelMenu' + $x.tmpl
                #end if
                #if $x.link
                    <h3 class="notActive notabbing">
                        <a href="$x.link"><span id="$title" /></a>
                    </h3>
                #else
                    <h3 class="notAvailable notabbing">
                        <span id="$title" />
                    </h3>
                #end for
            #end if
        #end if
    #end for
#end def
#####################

#####################
#def writeTabbing

    ##
    ## Each menu point is represented simple text and a link. If the link information of a menu point
    ## is empty, no link is available and only the text is shown.
    ##
    
    #for x in $menuPoints
        #if $x.tmpl == $activeMenuPoint
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and $x.role not in $transaction.session.value('authenticated_roles',[]))
                ##
                ## show active menu point
                ##
                #if $x.has_key('title')
                    #set $title = '<span>' + $x.title+ '</span>'
                #else
                    #set $title = '<span id="labelMenu' + $x.tmpl + '" />'
                #end if
                <h3 class="active tabbingItem">
                    #if $x.link
                        <a href="$x.link">$title</a>
                    #else
                        $title
                    #end if
                </h3>
            #end if
        #else
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and (not $transaction.session.value('authenticated_user','') or $x.role not in $transaction.session.value('authenticated_roles',[])))
                ##
                ## show not active menu point
                ##
                #if $x.has_key('title')
                    #set $title = '<span>' + $x.title+ '</span>'
                #else
                    #set $title = '<span id="labelMenu' + $x.tmpl + '" />'
                #end if
                #if $x.link
                    <h3 class="notActive tabbingItem">
                        <a href="$x.link">$title</a>
                    </h3>
                #else
                    <h3 class="notAvailable tabbingItem">
                        $title
                    </h3>
                #end for
            #end if
        #end if
    #end for
#end def
#####################
