#extends TablesTemplate
##################################################################################

#attr activeMenuPoint = 'Tables'

#attr subMenuPoints = [
  {'tmpl':'PricesBeitrag','condition':1,'title':'Beiträge','link':'Prices?search=10*'},
  {'tmpl':'Pricesgebuehr','condition':1,'title':'Gebühren','link':'Prices?search=11*'},
  {'tmpl':'BKZ','condition':1,'title':'BKZ','link':'BKZ'},
  {'tmpl':'BLZ','condition':1,'title':'Bankleitzahlen','link':'BLZ'}
  ]

##################################################################################
