##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends ViewTemplate
##################################################################################

#attr activeMenuPoint = 'Vendor'
#attr activeSubmenuPoint = 'VendorView'
#attr searchPage = 'VendorSearch'

#attr subMenuPoints = [
  {'tmpl':'VendorView','condition':1,'title':'Info','link':''},
  {'tmpl':'VendorLedger','condition':1,'title':'Konto','link':'VendorLedger?account=VE$request.field("index","")'},
  {'tmpl':'VendorNew','condition':1,'title':'Neu','link':'VendorNew','role':'editor'},
  {'tmpl':'VendorModify','condition':1,'title':'Ändern','link':'VendorModify?index=$request.field("index","")','role':'editor'}
  ]

#attr indexField = 'VendorNr'

#attr viewStore = 'AccountsVE'
#attr viewTitle = 'Lieferant'

##################################################################################

#def writeRecord(attrs)
  $writeLine('Lieferantnr', $attrs['VendorNr'])
  $writeLine('Firma',$attrs['Firma'])
  $writeLine('Name',$attrs['Nachname']+", "+$attrs['Titel']+" "+$attrs['Vorname'])
  $writeLine('Adresse',$attrs['PLZ']+" "+$attrs['Ort']+", "+$attrs['Strasse'])
  $writeLine('Telefon (privat, dienstlich, mobil)',$attrs['TelefonPrivat']+"<br>"+$attrs['TelefonDienst']+"<br>"+$attrs['Mobiltelefon'])
  $writeLine('FAX',$attrs['FAX'])
  $writeLine('E-Mail',$attrs['EMail'])
  $writeLine('Bankverbindungen','')
  $writeTable($attrs,range(1,3),
    ['Kontonummer','BLZ','Bank','Kontoinhaber'],
    [{'name':'KontoNr','type':'string'},
    {'name':'BLZ','type':'string'},
    {'name':'Bank','type':'string'},
    {'name':'Kontoinhaber','type':'string'}])
  $writeLine('Kommentare',$attrs['Kommentare'])
  $writeLine('Letzte Änderung','%s von %s' % ($attrs['changedAt'].strftime('%d.%m.%Y'),$attrs['changedBy']))
#end def
