##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#import string
#import misc
#from mx import DateTime

#extends SiteTemplate

#implements writeContent
##################################################################################

#attr activeMenuPoint = ''
#attr activeSubmenuPoint = ''

#attr indexField = ''

#attr viewTitle = ''

#attr bodyTagAttribs = {'text':'black',"onload":"document.search.search.focus()"}

##################################################################################

#def writeRecord(attrs)

#end def

#silent $response.flush()

##
## read index and object
##
#set $index = $request.field('index','')
#set $storeObjects = $search($index)
#set $neighbourObjects = $search($index[:-1]+'_')
#set neighbours=[]
#for $entry in $neighbourObjects:
    #if $entry.allAttrs().has_key("lastName") and $entry.allAttrs().has_key("firstName")
      #silent $neighbours.append(($entry.allAttrs()[$indexField],$entry.allAttrs()['lastName'] + ", " + $entry.allAttrs()['firstName']))
    #else
      #silent $neighbours.append(($entry.allAttrs()[$indexField],$entry.allAttrs()[$indexField]))
    #end if
#end for

<table width="100%">
    #for $entries in $storeObjects    
        ##
        ## Tabellenzeile ausgeben, wobei folgende Datentypen korrekt formatiert werden:
        ## Geldbeträge und Datum
        ##
        #set $attrs = $entries.allAttrs()
        #set $attrs['_neighbours'] = $neighbours
        $writeRecord($attrs)
    #end for
</table>
