##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends ViewTemplate
##################################################################################

#def writeRecord(attrs)
    #set $neighbours = ''
    #for $n in $attrs['_neighbours']
        #if $n[0] != $attrs['accountNb']
            #set $neighbours = $neighbours + " <a href='MemberView?accountNb=%s'>%s</a>" % ($n[0],$n[1])
        #end if
    #end for
    #if $neighbours
        #set $neighbours = "(%s)" % $neighbours[1:]
    #end if
    #if $attrs['newAccountNb']
        $writeLine('Mitgliedsnr', "%s %s" % ($attrs['accountNb'], $neighbours),$attrs['newAccountNb'],
            " (Neu: <a href='MemberView?accountNb=%s'>%s</a>)" %
                ($attrs['newAccountNb'],$attrs['newAccountNb']))
    #else
        $writeLine('Mitgliedsnr', "%s %s" % ($attrs['accountNb'], $neighbours))
    #end if
    #if $attrs['endsAt']
        $writeLine('Mitgliedschaft',
            "vom %s" % $attrs['startFrom'].strftime('%d.%m.%Y'),$attrs['endsAt'],
            " bis %s (%s)" % ($attrs['endsAt'].strftime('%d.%m.%Y'),$attrs['terminationReason']))
    #elif $attrs['startFrom']
        $writeLine('Mitgliedschaft',"seit dem %s" % $attrs['startFrom'].strftime('%d.%m.%Y'))
    #else
        $writeLine('Mitgliedschaft',"",error="Eintrittsdatum fehlt")
    #end if
    $writeLine('Name',"%s, %s %s" % ($attrs['lastName'],$attrs['title'],$attrs['firstName']),$trans)
    #if $attrs['guardianFirstName'] or $attrs['guardianLastName']
        $writeLine('gesetzlicher Vertreter',"%s, %s" % ($attrs['guardianLastName'],$attrs['guardianFirstName']),$trans)
    #else
        $writeLine('gesetzlicher Vertreter',"-" ,$trans)
    #end if
    #if $attrs['addressExtension']
        $writeLine('Adresse',"%s, %s %s, %s" % ($attrs['addressExtension'],$attrs['zipCode'],$attrs['city'],$attrs['street']))
    #else
        $writeLine('Adresse',"%s %s, %s" % ($attrs['zipCode'],$attrs['city'],$attrs['street']))
    #end if
    $writeLine('Telefon (privat, dienstlich, mobil)',"%s<br>%s<br>%s" %
        ($attrs['telefonPrivate'],$attrs['telefonOffice'],$attrs['telefonMobile']))
    $writeLine('FAX',attrs['fax'])
    $writeLine('E-Mail',$attrs['email'])
    #if $attrs['birthDate']
        $writeLine('Geburtsdatum &amp; Geschlecht',"%s %s" % ($attrs['birthDate'].strftime('%d.%m.%Y'),$attrs['gender']))
    #else
        $writeLine('Geburtsdatum &amp; Geschlecht',"%s %s" % ('-',$attrs['gender']))
    #end if
    #if str($attrs['accountNb'])[-1:] == '0'
        $writeLine('Bankverbindungen','')
        $writeTable($attrs,range(1,3),
          ['Kontonr','BLZ','Bank','Kontoinhaber'],
          [{'name':'bankAccountNb','type':'string'},
          {'name':'bankCode','type':'string'},
          {'name':'bankName','type':'string'},
          {'name':'bankAccountOwner','type':'string'}])
    #if ($attrs['payBy'] == "Lastschrift") and $attrs['automaticPayFrom']
        $writeLine('Beiträge',attrs['payBy'],$attrs['automaticPayFrom'],' ab %s' % $attrs['automaticPayFrom'].strftime('%d.%m.%Y'))
    #elif ($attrs['payBy'] == "Rechnung") and $attrs['invoiceFrom']
        $writeLine('Beiträge',$attrs['payBy'],$attrs['invoiceFrom'],' ab %s' % $attrs['invoiceFrom'].strftime('%d.%m.%Y'))
    #else
        $writeLine('Beiträge',$attrs['payBy'])
    #end if
    #if $attrs['reminderLevel']
        $writeLine('Mahnung',"<b>%s vom %s</b>" % ($attrs['reminderLevel'],$attrs['lastReminderAt'].strftime('%d.%m.%Y')))
    #end if
    $writeTable($attrs,range(1,6),
        ['Art','ab','BFA','nächste Erhebung'],
        [{'name':'membershipKind','type':'string'},
        {'name':'membershipFrom','type':'date'},
        {'name':'membershipEndFrom','type':'date'},
        {'name':'membershipPayNextFrom','type':'date'}])
    $writeLine('Kommentare',$attrs['comments'])
    $writeLine('Letzte Änderung','%s von %s' % ($attrs['changedAt'].strftime('%d.%m.%Y'),$attrs['changedBy']))
#end def
