##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#extends ViewTemplate
##################################################################################

#def writeRecord(attrs)
    <div class="linePart">
        #set $neighbours = ''
        #for $n in $attrs['_neighbours']
            #if $n[0] != $attrs['accountNb']
                #set $neighbours = $neighbours + " <a href='MemberView?accountNb=%s'>%s</a>" % ($n[0],$n[1])
            #end if
        #end for
        #if $neighbours
            #set $neighbours = "%s" % $neighbours[1:]
        #end if
        #if $attrs['newAccountNb']
            $writeLine('accountNb2', $attrs['accountNb'], $attrs['newAccountNb'],
                "<a href='MemberView?accountNb=%s'>%s</a>" % ($attrs['newAccountNb'],$attrs['newAccountNb']))
        #else
            $writeLine('accountNb', $attrs['accountNb'], $neighbours, $neighbours)
        #end if
        #if $attrs['endsAt']
            $writeLine2('membership',
                $attrs['startFrom'].strftime('%d.%m.%Y'),
                $attrs['endsAt'],
                "%s (%s)" % ($attrs['endsAt'].strftime('%d.%m.%Y'),$attrs['terminationReason']))
        #elif $attrs['startFrom']
            $writeLine2('membershipFrom',$attrs['startFrom'].strftime('%d.%m.%Y'))
        #else
            $writeLine2('membership',"",error="Eintrittsdatum fehlt")
        #end if
        $writeLine('name',"%s, %s %s" % ($attrs['lastName'],$attrs['title'],$attrs['firstName']),$trans)
        #if $attrs['guardianFirstName'] or $attrs['guardianLastName']
            $writeLine2('guardian',"%s, %s" % ($attrs['guardianLastName'],$attrs['guardianFirstName']),$trans)
        #else
            $writeLine2('guardian',"" ,$trans)
        #end if
        #if $attrs['addressExtension']
            $writeLine('address',"%s, %s %s, %s" % ($attrs['addressExtension'],$attrs['zipCode'],$attrs['city'],$attrs['street']))
        #else
            $writeLine('address',"%s %s, %s" % ($attrs['zipCode'],$attrs['city'],$attrs['street']))
        #end if
        $writeLine2('telephone',"%s , %s , %s" %
            ($attrs['telefonPrivate'],$attrs['telefonOffice'],$attrs['telefonMobile']))
        $writeLine('fax',attrs['fax'])
        $writeLine2('email',$attrs['email'])
        #if $attrs['birthDate']
            $writeLine('birthDateAndGender',$attrs['birthDate'].strftime('%d.%m.%Y'),$attrs['gender'],$attrs['gender'])
        #else
            $writeLine('birthDateAndGender','',$attrs['gender'],$attrs['gender']))
        #end if
        #if str($attrs['accountNb'])[-1:] == '0'
            $writeLine2('bankAccounts','&nbsp;')
            </div>
                $writeTable($attrs,range(1,3),
                  ['bankAccountNb','bankCode','bankName','bankAccountOwner'],
                  [{'name':'bankAccountNb','type':'string'},
                  {'name':'bankCode','type':'string'},
                  {'name':'bankName','type':'string'},
                  {'name':'bankAccountOwner','type':'string'}])
            <div class="linePart">
        #if ($attrs['payBy'] == "Lastschrift") and $attrs['automaticPayFrom']
            $writeLine2('payBy',attrs['payBy'],$attrs['automaticPayFrom'],$attrs['automaticPayFrom'].strftime('%d.%m.%Y'))
        #elif ($attrs['payBy'] == "Rechnung") and $attrs['invoiceFrom']
            $writeLine2('payBy',$attrs['payBy'],$attrs['invoiceFrom'], $attrs['invoiceFrom'].strftime('%d.%m.%Y'))
        #else
            $writeLine2('payBy',$attrs['payBy'])
        #end if
        #if $attrs['reminderLevel']
            $writeLine('reminder',$attrs['reminderLevel'],$attrs['lastReminderAt'],$attrs['lastReminderAt'].strftime('%d.%m.%Y'))
        #else
            $writeLine('reminder','')
        #end if
        $writeLine2('memberships','&nbsp;')
        </div>
            $writeTable($attrs,range(1,6),
                ['membershipKind','membershipFrom','membershipEndFrom','membershipPayNextFrom'],
                [{'name':'membershipKind','type':'string'},
                {'name':'membershipFrom','type':'date'},
                {'name':'membershipEndFrom','type':'date'},
                {'name':'membershipPayNextFrom','type':'date'}])
        <div class="linePart">
        $writeLine2('comments',$attrs['comments'])
        $writeLine('lastChange',
            $attrs['changedAt'].strftime('%d.%m.%Y'),
            $attrs['changedBy'],
            $attrs['changedBy'])
    </div>
#end def
