##
## File:      $URL$
## Version:   $Rev$
## Changed:   $Date$
##
## Homepage:  http://esm.berlios.de
## Copyright: GNU Public License Version 2 (see license.txt)
##
## E-Sportmanager (esm)
##
## Copyright (C) 2005 Jan Gottschick
##
##   This program is free software; you can redistribute it and/or modify it
##   under the terms of the GNU General Public License as published by the
##   Free Software Foundation; either version 2 of the License, or
##   (at your option) any later version.
##
##   This program is distributed in the hope that it will be useful, but
##   WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
##   or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
##   for more details.
##
##   You should have received a copy of the GNU General Public License along
##   with this program; if not, write to the
##
##   Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
##
#attr __author__ = "Jan Gottschick"
#attr __revision__ = "$Rev$"[6:-2]

#from mx import DateTime
#import string

#extends SiteLayout
##################################################################################

##
## In menuPoints are all main point of the menu listed. The title will be shown
## to the user where the link makes this point selectable if present. The
## subMenuPoints are shown below the selected menu point in activeMenuPoint.
## subMenuPoints has the same structure and meaning as menuPoints. These menu
## points are related to the genus.
##

#attr menuPoints = [
  {'tmpl':'Member','link':'MemberLedgerSearch'},
  {'tmpl':'Personal','link':'PersonalLedgerSearch'},
  {'tmpl':'Vendor','link':'VendorLedgerSearch'},
  {'tmpl':'Accounting','link':'BankLedgerSearch'},
  {'tmpl':'Administration','link':'Administration','role':'auditor'},
  {'tmpl':'Profile','link':'Profile'},
  {'tmpl':'Logout','title':'Ausloggen','link':'Logout'}
  ]

#attr activeMenuPoint = ''
#attr activeSubmenuPoint = ''
#attr activeTemplate = ''
#attr focusField = 'searchForm.search'

#attr searchPage = 'MemberSearch'

#attr subMenuPoints = []

##################################################################################

#def writeLine(title,line,condition='',optional='',error='')
    ##
    ## writes a line with a title, value, optional value and an error text
    ##
    <div class="line">
        <p>$title</p>
        <div>
            <p class="lineValue">$line</p>
            #if $condition
                <p class="lineOption">$optional</p>
            #end if
            #if $error
                <p class="lineError">$error</p>
            #end if
        </div>
    </div>
#end def

#def writeLine2(title,line,condition='',optional='',error='')
    ##
    ## writes a second line with a title, value, optional value and an error text
    ## as the second line it could be decorated differently to the first one
    ##
    <div class="line2">
        <p>$title</p>
        <div>
            <p class="lineValue">$line</p>
            #if $condition
                <p class="lineOption">$optional</p>
            #end if
            #if $error
                <p class="lineError">$error</p>
            #end if
        </div>
    </div>
#end def

#def writeTable(attrs,indexs,headers,fields)
    <div class="table">
        <div class="tableHeader">
            #for header in headers
                <div>
                    <p class="headerItem">$header<p>
                </div>
            #end for
        </div>
        #for index in indexs
            #if $attrs[$fields[0]['name']+str($index)]
                <div class="tableLine">
                    #for field in fields
                        <div class="tableItem">
                            #if $field['type'] == 'date' and $attrs[$field['name']+str($index)]
                                #try
                                    #set $content = DateTime.DateTimeFrom($attrs[$field['name']+str($index)])
                                    $content.strftime($dateFormat)
                                #except:
                                    ** Error **
                                #end try
                            #elif $field['type'] == 'string'
                                $attrs[$field['name']+str($index)]
                            #elif $field['type'] == 'currency' and $attrs[$field['name']+str($index)]
                                #echo string.replace('%.2f' % float($attrs[$field['name']+str($index)]),'.',',')
                            #end if
                        </div>
                    #end for
                </div>
            #end if
        #end for
    </div>
#end def


#####################
#def writeSearch

    ##
    ## Set the year to show the transfers for that yearly period
    ##
    <form name="year" action="SetYear" method=post>
        <div id="yearForm">
            <input name="year" type="text" size=10 maxlength=40 value="$accountYear"/>
            <button type="submit"><span id="labelButtonYear" /></button>
        </div>
    </form>
    
    ##
    ## Start search for account(s)
    ##
    <form name="searchForm" action="$searchPage" method=post>
        <div id="searchForm">
            <input name="search" type="text" size=10 maxlength=40/>
            <button type="submit"><span id="labelButtonSearch" /></button>
        </div>
    </form>

#end def
#####################

#####################
#def writeMenu

    ##
    ## Each menu point is represented simple text and a link. If the link information of a menu point
    ## is empty, no link is available and only the text is shown.
    ##
    
    #for x in $menuPoints
        #if $x.tmpl == $activeMenuPoint
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and $x.role not in $transaction.session.value('authenticated_roles',[]))
                ##
                ## show active menu point
                ##
                #if $x.has_key('title')
                    #set $title = '<span>' + $x.title+ '</span>'
                #else
                    #set $title = '<span id="labelMenu' + $x.tmpl + '" />'
                #end if
                <h3 class="active">
                    #if $x.link
                        <a href="$x.link" class="notabbing">$title</a>
                    #else
                        <span class="notabbing">$title</span>
                    #end if
                </h3>
                ##
                ## submenus are shown below the active menu point
                ##
                <ul id="submenu">
                #for y in $subMenuPoints
                    ##
                    ## show submenu only if an optional condition is true
                    ##
                    #if self.lazyCondition($y.condition)
                        ##
                        ## if a link has a role info, the link is only shown is the user has the role
                        ##
                        #if not ($y.has_key('role') and (not $transaction.session.value('authenticated_user','') or $y.role not in $transaction.session.value('authenticated_roles',[])))
                            #if $y.tmpl == $activeSubmenuPoint
                                <li class="activeSubmenu">$y.title</li>
                            #elif $y.title
                                #if $y.link
                                    <li class="notActiveSubmenu">
                                        <a href="#include source=$y.link #"><span>$y.title</span></a>
                                    </li>
                                #else
                                    <li class="notAvailableSubmenu">$y.title</li>
                                #end if
                            #end if
                        #end if
                    #end if
                #end for
                </ul>
            #end if
        #else
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and (not $transaction.session.value('authenticated_user','') or $x.role not in $transaction.session.value('authenticated_roles',[])))
                ##
                ## show not active menu point
                ##
                #if $x.has_key('title')
                    #set $title = '<span>' + $x.title+ '</span>'
                #else
                    #set $title = '<span id="labelMenu' + $x.tmpl + '" />'
                #end if
                #if $x.link
                    <h3 class="notActive notabbing">
                        <a href="$x.link">$title</a>
                    </h3>
                #else
                    <h3 class="notAvailable notabbing">
                        $title
                    </h3>
                #end for
            #end if
        #end if
    #end for
#end def
#####################

#####################
#def writeTabbing

    ##
    ## Each menu point is represented simple text and a link. If the link information of a menu point
    ## is empty, no link is available and only the text is shown.
    ##
    
    #for x in $menuPoints
        #if $x.tmpl == $activeMenuPoint
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and $x.role not in $transaction.session.value('authenticated_roles',[]))
                ##
                ## show active menu point
                ##
                #if $x.has_key('title')
                    #set $title = '<span>' + $x.title+ '</span>'
                #else
                    #set $title = '<span id="labelMenu' + $x.tmpl + '" />'
                #end if
                <h3 class="active tabbingItem">
                    #if $x.link
                        <a href="$x.link">$title</a>
                    #else
                        $title
                    #end if
                </h3>
            #end if
        #else
            ##
            ## if a link has a role info, the link is only shown is the user has the role
            ##
            #if not ($x.has_key('role') and (not $transaction.session.value('authenticated_user','') or $x.role not in $transaction.session.value('authenticated_roles',[])))
                ##
                ## show not active menu point
                ##
                #if $x.has_key('title')
                    #set $title = '<span>' + $x.title+ '</span>'
                #else
                    #set $title = '<span id="labelMenu' + $x.tmpl + '" />'
                #end if
                #if $x.link
                    <h3 class="notActive tabbingItem">
                        <a href="$x.link">$title</a>
                    </h3>
                #else
                    <h3 class="notAvailable tabbingItem">
                        $title
                    </h3>
                #end for
            #end if
        #end if
    #end for
#end def
#####################
