#
# E-Sportmanager configuration
#
{
  #
  # each role is defined by the username, which corresponds to the users entry, and
  # a list with all roles a user have, e.g. 'viewer','editor','auditor' and 'manager'.
  #
  'roles' : {
            'manager':['viewer','editor','auditor','manager'],
          },
  #
  # each user is defined by its full name (must be lowercase!-) and password.
  # the password is crypted by sha ('sha.new(password).hexdigest()') in python.

  #
  'users' : [
            ('manager', '@PASSWORD@'),
          ],
  #
  # the short identification (2 letter!) of the installation site.
  # This id is included in each changed record.
  #
  'site' : "@TITLE@",
  'organisation' : "@ORGANISATION@",
  #
  # the user and password for the database used.
  #
  'dbUser' : "@DBUSER@",
  'dbPassword' : "@DBPASSWORD@"
}

